[2020-12-31 06:27] petethepig opened #1 "Set up CSS / SCSS linting + lint our CSS / SCSS files"

[2020-12-31 06:27] petethepig opened #2 "Set up JS linting + lint our JS code"

[2020-12-31 06:28] petethepig opened #3 "Set up jest + enzyme"

[2020-12-31 06:36] petethepig opened #4 "Clean up logging on go side"
Currently it's a mess and mostly used for debugging. We should make it look nicer and be actually useful for people using pyroscope, not just developers.

As a part of this we should also add a logging option to the go integration.

[2020-12-31 06:43] petethepig opened #5 "Set up a way to get errors from rbspy / pyspy"
Currently we have this setup where we include rust code as a static library with [these bindings](https://github.com/pyroscope-io/pyroscope/blob/main/third_party/rustdeps/pyspy.h). All functions return error codes, but no error messages.

We need error messages.

I think the classic C way of doing this is:
* return -1 from the functions
* having some `static char *errorMessage` variable that is mo

[2020-12-31 07:27] petethepig opened #6 "Set up a CHANGELOG"
We should integrate [conventional-changelog](https://www.npmjs.com/package/conventional-changelog-cli) into our release process.

[2021-01-05 07:46] petethepig commented on #6
done in https://github.com/pyroscope-io/pyroscope/commit/8c75689b758b247a47e3bf07610b1c9826ad65fd

[2021-01-05 07:46] #6 closed

[2021-01-06 19:12] petethepig opened #7 "Add eBPF support"
I made some super early stage prototype, this is a combo of BCC `profile.py` and `gobpf/bcc` https://gist.github.com/petethepig/9667c2acbc6227bf3617323c4333708e

[2021-01-08 22:09] petethepig opened #8 "Add Node support"
### TODO
* [ ] research Node profiling tools

[2021-01-13 02:41] petethepig opened #10 "Connect jest to Github Actions"
Basically, it would be cool if we ran jest as part of our GitHub Action CI pipeline (here: https://github.com/pyroscope-io/pyroscope/blob/main/.github/workflows/tests.yml#L22-L23)

[2021-01-13 02:43] #3 closed

[2021-01-13 04:02] #10 closed

[2021-01-13 19:26] petethepig opened #12 "Add more colors to our palette"
We need more colors

[2021-01-13 22:20] #12 closed

[2021-01-15 00:46] LouisInFlow commented on #2
@petethepig thoughts on porting to Typescript?

[2021-01-15 20:53] Rperry2174 opened #14 "Add Legend to Tie Colors to package/filenames"
As of right now, the colors in the Flamegraphs correspond to the package of the method in that node. For example:
![image](https://user-images.githubusercontent.com/23323466/104777041-e4e19300-572f-11eb-9895-c98539b14449.png)

In the highlighted section:

- `threading.py` is orange
- `threadloop.py` is green
- `base_events.py` is blue

The colors are randomly selected from [this array](https://git

[2021-01-15 21:11] Rperry2174 opened #15 "Add table with more detail about Flamegraph nodes"
Right now, the flamegraph nodes get their hierarchy from the stacktrace and they get their size from the number of samples collected while the application was working on that function.

Since we also know the sample rate:

- we should show this data as _time_ in addition to the number of samples.
- we should show this in table form to allow for sorting

The purpose of this is to make it easier to

[2021-01-15 21:37] Rperry2174 opened #16 "Add view to compare Flamegraphs from two time periods"
While this has a lot of potential to add value, it's definitely a much trickier issue to tackle. Posting anyway as we may move towards trying to make this happen depending on if people feel this is necessary.

Currently a common use case for Pyroscope is:

**A user has determined that part of their application or service is running slow or consuming too much CPU resources.** So, they take the foll

[2021-01-15 22:27] Rperry2174 opened #17 "Make search functionality more obvious"
Right now the search bar gets lost in all the colors on the page. Because the typical use case is that someone is using Pyroscope to dig into a particular file / function, we should change the color so that it stands out from the black background

![image](https://user-images.githubusercontent.com/23323466/104784745-cbdfde80-573d-11eb-89c9-9f81d6e0b5b5.png)

[2021-01-15 23:04] Rperry2174 opened #18 "Add UI Indicator directing people to switch to view their own application"
Currently the default in the "applcation" dropdown defaults to the pyroscope server itself. The reason for this is because even if you haven't started the agent for your particular application the pyroscope server will always have data as long as its running [(see here)](https://github.com/pyroscope-io/pyroscope/blob/main/pkg/agent/selfprofile.go).

![image](https://user-images.githubusercontent.c

[2021-01-15 23:20] Rperry2174 commented on #2
@LouisInFlow Interested to hear your rationale why you're interested in Typescript? We made a decision to us JS instead because honestly we just thought it would be easier to build features faster that way. However, we're definitely open to considering it if it adds value here

[2021-01-16 19:13] LouisInFlow opened #20 "Flamegraph: Code preview"
Would be cool if a preview of the relevant code can be shown from the flamegraph.

- Could have hovercard that shows function details
- Could link to line in github, or perhaps even open in their code editor

[2021-01-16 22:20] Rperry2174 commented on #20
Yeah this would be awesome... Right now we're trying to figure out a way to distinguish "our" code from library code. For example:

![image](https://user-images.githubusercontent.com/23323466/104824291-50e1fb00-5805-11eb-97e3-e6c4ea048dbb.png)

Here:
`services/customer/client.py:16` is part of our code while
`flask/app.py` is part of the flask package in python

So we could link to `services/custo

[2021-01-16 22:26] Rperry2174 commented on #20
Just ftr I think that we would probably try and do something like this:
![image](https://user-images.githubusercontent.com/23323466/104824435-83d8be80-5806-11eb-91ff-d2b017c1effc.png)

Which would keep the current behavior that "zooms" in on a node when you click on it. Then after it's clicked on we could make it slightly larger height and show a little github icon inside of there that would link

[2021-01-16 23:08] #2 closed

[2021-01-16 23:16] LouisInFlow commented on #20
Easier way to distinguish on frontend may be just create a hard coded list. ```libraries-blacklist.js``` that looks like ```export new set(['list of top 1000 libraries for each language'])``` then check when rendering each box

[2021-01-16 23:21] LouisInFlow commented on #20
Think it'll look ok to add the github logo to every single box? Also how would user access the link for the boxes that are too thin to even have words in them

[2021-01-16 23:33] Rperry2174 commented on #20
Yeah that might work and I don't think we would add the github logo to every box, just the one in focus (when a box is in focus). So in the picture above it would only be that row that has the logo inside of it.

The reason for this is because what you said about the boxes that are too thin.. If you have selected a particular node (aka clicked on one), then the nodes above it dim and the node itse

[2021-01-17 00:30] Rperry2174 commented on #20
Just made our demo repos public so this could work now:
Python: https://github.com/pyroscope-io/hotrod-python
Ruby: https://github.com/pyroscope-io/hotrod-ruby
Go: https://github.com/pyroscope-io/jaeger.git

/cc @LouisInFlow

[2021-01-17 19:01] Rperry2174 commented on #18
Alternatively we could just look and see if there is an app in the dropdown list that is _not_ the pyroscope server, then we can choose one of those and just default to it

[2021-01-17 19:17] Rperry2174 opened #22 "Make table highlight corresponding items in flamegraph"
Now that we've added a table we made it so that you can see exactly which functions are consuming resources:
![image](https://user-images.githubusercontent.com/23323466/104853250-6bbf7880-58b4-11eb-92ac-a4cf7f0b3c15.png)

In this case, lets say we wanted to dig into:
`github.com/dgrapah-io/badger/v2.(*levelHandler).numTables`

Right now you could type it into the search bar:
![image](https://user-

[2021-01-17 21:43] petethepig commented on #17
I made it white in #21 so closing for now.

[2021-01-17 21:43] #17 closed

[2021-01-18 00:29] LouisInFlow commented on #22
I like clicking, hover might cause animation overload for the user.

Do you imagine more features that would be activated by clicking? Hover-menu? Or should all the functions appear as little icons like the GitHub link

[2021-01-18 01:26] Rperry2174 commented on #22
Yeah I agree that clicking is better for the table. As far as the Github Icon (this one(#20) I assume); This table functionality definitely seems like a bigger value add so I think we'd rather get the functionality that makes the most sense for clicking on the table and then reevaluate the github Icon / link after.

Either way, I think if both patterns are "click" to make something happen, that's

[2021-01-18 06:30] Rperry2174 opened #24 "Add "color by" dropdown"
Currently we determine a nodes color based off of the file it came from. As we start to add more metrics to this page, we may want to start coloring nodes off of other things. Some examples include:
- a monochrome color that varies in intensity/brightness based off of self time
- a monochrome color that varies in intensity/brightness based off of total time
- coloring for libraries vs user code (i

[2021-01-18 21:22] LouisInFlow opened #26 "Make table format better horizontally"
First column where the function names currently takes up all remaining width of table. This makes it hard to read because data is not close together.

<img width="1678" alt="Screen Shot 2021-01-18 at 1 21 09 PM" src="https://user-images.githubusercontent.com/73438887/104963879-43a54780-5990-11eb-8ff3-11d564c18e95.png">

[2021-01-18 21:53] LouisInFlow opened #27 "Cleanup JSX lint errors and warnings"
To package.json add

[code]

Fix all the issues

[2021-01-19 08:45] petethepig opened #28 "Cover storage/segment with randomized tests"
`storage/segment` is an implementation of a segment tree, somewhat similar to [this wikipedia definition](https://en.wikipedia.org/wiki/Segment_tree).

This allows us to very efficiently store and (arguably more importantly) query years of profiling data very quickly. The problem is that operations on this type of data structure are quite complex, and I already found multiple bugs while working on

[2021-01-19 17:59] Rperry2174 opened #29 "Round all table values to same number of digits"
![image](https://user-images.githubusercontent.com/23323466/105074291-02b73c80-5a3d-11eb-8d42-e41a17eea6d5.png)

Right now there are varying numbers of digits in the table. We should use the same number of digits after the decimal so that its easier to browse the list of numbers in the table

[2021-01-20 03:00] kcloze opened #30 "Add PHP support"
Beautiful interface, welcome to surpport PHP.

[2021-01-20 05:49] Rperry2174 opened #31 "Custom Date Range Buttons Broke"
![image](https://user-images.githubusercontent.com/23323466/105132598-0af49380-5aa0-11eb-8b7f-22d943db4630.png)

- [ ] Fix the date range buttons so they work
- [ ] (optional) Write a test to make sure that they don't break again in the future

[2021-01-22 17:12] Rperry2174 opened #37 "Need How to use/read Flamegraphs README"
Many who are not deep into devOps tools have not used Flamegraphs before. I think we need a special readme that we can send people who are new to this type of analysis to teach them how flamegraphs work in this context.

Some resources:
- http://www.brendangregg.com/flamegraphs.html
- https://stackify.com/flamegraph-how-to-visualize-stack-traces-and-performance/
- https://hackernoon.com/making-sen

[2021-01-22 20:14] petethepig opened #38 "Add a Ability to Go back to previous Timerange"
Multiple people either explicitly mentioned this or had a hard time figuring out how to zoom out. I think we should just have a zoom out button.

Default View on page load:
![image](https://user-images.githubusercontent.com/23323466/105544446-dc4d0780-5caf-11eb-8be2-326f70ac82a7.png)

"Zoomed view" when a yellow bar in the timeline is selected:
![image](https://user-images.githubusercontent.com/23

[2021-01-22 20:43] Rperry2174 opened #39 "Make "Reset View" button stand out when a node is being inspected"
Here is a gif showing what a lot of users do when they come in and click on a node
![2021-02-24 16 16 47](https://user-images.githubusercontent.com/23323466/109084089-f49fb000-76bb-11eb-832d-49b137a49229.gif)

### Situation 1:
1. The click a node to zoom in on it
2. They **try** to click the node a second time to zoom out from it... But nothing happens when re-click a node

This problem can be fix

[2021-01-23 07:34] LouisInFlow commented on #38
There's a reset view button that appears when zoomed in and disappears when zoomed out, but its not very obvious.

<img width="2992" alt="Screen Shot 2021-01-22 at 11 32 07 PM" src="https://user-images.githubusercontent.com/73438887/105572129-1d720580-5d0a-11eb-91c4-fb77b320ff84.png">

@Rperry2174 What do you think about making the button disabled instead of disappearing. Also a more prominent col

[2021-01-23 07:48] Rperry2174 commented on #38
@LouisInFlow sorry for the confusion. Basically we need a "go back to previous time range" button for _the timeline_.

So when you first land on the page the timeline will default to the last hour. So your time range will be `00:00` to `01:00` looking at full 1 hour timespan.

If you drag and drop on the timeline, that is what this issue is referring to. When you click the timeline at `00:30` and

[2021-01-23 07:57] Rperry2174 commented on #39
@LouisInFlow this is the issue where I'd agree that your idea from [here](https://github.com/pyroscope-io/pyroscope/issues/38#issuecomment-765883149) would resolve this.

- Make the button more obvious colored, but disabled by default
- When a node is selected (like in the picture) enable the button

[2021-01-24 19:46] jacoby opened #42 "Support Perl!"
I'm in a conference with Ryan, where he's talking about Pyroscope and is encouraging this: Support Perl!

[2021-01-27 08:55] #5 closed

[2021-01-27 19:46] gwuah commented on #27
I wanted to pick this up but it seems it's been fixed. guess this issue can be closed now.

[2021-01-27 19:49] petethepig commented on #27
@gwuah You're right, I'm closing the issue. There's a similar one for CSS / SCSS linting https://github.com/pyroscope-io/pyroscope/issues/1 if you're interested.

[2021-01-27 19:49] #27 closed

[2021-01-28 00:46] Rperry2174 opened #46 "Translate docs to other languages"
We're getting a lot of users from other countries all over the world, particularly China and would love for everyone to be able to access our docs / how to use Pyroscope more easily.

Any help translating to any language would be awesome! For right now we are hoping to get the following translated:

- [Main README](https://github.com/pyroscope-io/pyroscope/blob/main/README.md)
- [Examples page](ht

[2021-01-28 07:40] Rperry2174 opened #47 "Convert dates in the date range picker to human readable dates"
steps to reproduce:
- Load the page
- select a time range using the timeline at the top
- open the dropdown

The dates in the date range picker turn into integers instead of human readable dates
![image](https://user-images.githubusercontent.com/23323466/106105342-b03ee580-60f8-11eb-8859-411c2a281242.png)

[2021-01-28 07:41] Rperry2174 commented on #15
Closed in #21

[2021-01-28 07:41] #15 closed

[2021-01-28 07:41] Rperry2174 commented on #14
closed in #21

[2021-01-28 07:41] #14 closed

[2021-01-28 07:42] Rperry2174 commented on #18
Fixed by just putting pyroscope serve last in the list

[2021-01-28 07:42] #18 closed

[2021-01-28 20:07] petethepig opened #48 ""Failed to open process - check if it is running" error with Python on macOS"
### Community Call To Action

If you've experienced this, please post some details about your setup, e.g macOS version, python version, how you installed python on your machine, where it's installed, if you use pipenv / virtualenv or not in this issue.

### Summary

Some people report getting a message like this when they run `pyroscope exec` on macOS with python apps:
[code]

Simplest way to repr

[2021-01-28 20:33] petethepig opened #49 "Lint Go Code"
### Community Call To Action

Feel free to open PRs, even if it's one or two small fixes. This kind of work is important but often overlooked. This is a great way to learn more about the internals of the project and we'd appreciate any help on this.

### Summary

We use [revive](https://github.com/mgechev/revive) as the main linter.

### How to tackle these

Run the linter. It will print a bunch o

[2021-01-28 23:59] petethepig commented on #38
Got some interesting ideas from Otto:
[code]
I think the double click thing makes the most sense — we could have left double click be a zoom out or we could have left double click be a zoom in and right double click be a zoom out action — kinda like in google maps.

[2021-01-29 00:00] LouisInFlow commented on #31
This is already fixed. It seems that adding "resolve #issue#" is not auto closing issues

[2021-01-29 00:21] Rperry2174 commented on #38
Thats interesting. I like the advanced functionality, but I think doing something that's basic and visual at least in addition to the double click functionality is better better.

For example... TIL that double right click zooms out on Google maps. I always just use the plus to zoom in and the minus to zoom out by default and occasionally us double-left-click.

For us, many dont realize that they

[2021-01-29 03:32] wangsikuan opened #50 "Why agent cost half time in flame graph?"
My environment:
macOS Bigsur
go1.13.1

When I add agent code in my go program, I found something strange.

![image](https://user-images.githubusercontent.com/2031288/106227857-0e68e700-6225-11eb-902f-b04ad1bca98d.png)

pyroscope agent exactly cost half time

Maybe something went wrong or there is some knowledge I don't get?

[2021-01-29 03:50] petethepig commented on #50
This is interesting. Could you share your program with us?

[2021-01-29 05:58] #31 closed

[2021-01-29 05:59] Rperry2174 commented on #31
closed in #36

[2021-01-29 06:24] wangsikuan commented on #50
https://gist.github.com/wangsikuan/4ac234cbb8c45d3f187ad81e281bc03e

OK, I put my code in this gist.

[2021-01-29 06:54] Rperry2174 opened #51 "Add crosshair to mouse when hovering timeline"
Currently there is functionality that you can click and drag on the timeline at the top to inspect a particular timeline on it more closely.

However, when many go to this timeline they don't realize that they are able to interact with it with that functionality. Would be cool to add a different colored vertical line when hovering over the timeline.

Something like this red line that follows your

[2021-01-30 15:48] Pranay0302 commented on #49
hey @petethepig, I sent a PR #52 regarding this issue.
please review the code and tell me your opinion on it

[2021-01-31 01:02] Rperry2174 commented on #47
closed in #53

[2021-01-31 01:02] #47 closed

[2021-01-31 01:55] Rperry2174 opened #54 "Alert user with text if startDate > endDate"
We have a new DatePicker dropdown, but now its easier to accidentally choose an `endDate` that is smaller than `startDate`. When `state.startDate > state.endDate` then we should add some red text to the bottom to alert the user that they have an invalid date range.

This way they will not accidentally wait for the data to update for an invalid date range.

<img width="1680" alt="Screen Shot 2021-0

[2021-01-31 11:01] abaali commented on #54
/assign

[2021-01-31 11:02] abaali commented on #54
i can fix this.

[2021-01-31 20:29] Rperry2174 opened #55 "DateRange breaks page if dates are updated in the wrong order"
Bug introduced in #53

Steps to reproduce:
- Open the page
- Select a new date from the second `DateRange` component

![image](https://user-images.githubusercontent.com/23323466/106396900-9e429880-63bf-11eb-9ad8-f4416622b347.png)

It's worth noting that this happens when you change the second `DateRange` component _before_ you change the first one.

/cc @abaali

[2021-01-31 20:37] abaali commented on #55
this happens because the value of from is still a string ('now-1h') which makes moment.js return a non-valid date
I'm working on this.

[2021-02-01 00:59] petethepig commented on #54
This is an example from grafana
![image](https://user-images.githubusercontent.com/662636/106403930-baf1c700-63e5-11eb-845c-b6572b750529.png)

[2021-02-01 01:04] petethepig commented on #55
I think the best way of fixing it would be to copy the time parsing logic from the backend to frontend:

* this is where it is on the go side: https://github.com/pyroscope-io/pyroscope/blob/master/pkg/util/attime/attime.go#L18
* that one is based on the original logic in graphite project: https://github.com/graphite-project/graphite-web/blob/master/webapp/graphite/render/attime.py#L30

and so if w

[2021-02-01 16:58] abaali commented on #55
good suggestion @petethepig  but I already worked on a different one but it needs some improvements.
check it in my new [PR](https://github.com/pyroscope-io/pyroscope/pull/56)

[2021-02-01 20:33] petethepig commented on #50
Thanks for the report @wangsikuan!

I was able to reproduce the issue on `go1.13.1`, but not on the later versions.

### Background

Our profiler looks at the current stacktrace of each goroutine 100 times per second. When it does that it inevitably sees the goroutine that this is happening in. We don't want to include this information in the final profiler output, so we have [a list of functions

[2021-02-02 00:35] Rperry2174 commented on #55
closed in #56

[2021-02-02 00:35] #55 closed

[2021-02-02 00:44] Rperry2174 opened #57 "Update button falls to next row when date range picker is open"
When the date range picker is open, the "update" button drops to the next row. Instead it should stay in the same spot that its in in the picture on the left

![Screen Shot 2021-02-01 at 4 40 52 PM](https://user-images.githubusercontent.com/23323466/106536026-69f8d600-64ac-11eb-8a80-811a4cabd564.png)

We should also add a label "From" for the top one and "To" for the bottom one so that people know

[2021-02-02 20:12] camba1 opened #59 "Show number of invocations along with the time in the frontend"
The frontend should show the total number of invocations of a function along with its total time in the charts. It is good to know that a function is taking 4s because it was called 20 times vs another function that was called 2 times and took 3s.

[2021-02-02 20:18] #57 closed

[2021-02-02 20:30] Rperry2174 opened #60 "Date range selectors send too many requests"
Currently when using the date range selectors, they send an API request every time they're updated. Instead there should be an "Apply" button that only sends one request once a user is done updating the date range.

[2021-02-02 22:39] petethepig commented on #50
I'm gonna close this for now, but feel free to re-open

[2021-02-03 07:00] Rperry2174 commented on #51
closed in #65

[2021-02-03 07:00] #51 closed

[2021-02-03 07:48] wangsikuan commented on #50
Hi, thanks for your explaination!

When I run the command, I got same result.

[code]

And I checked my go pkg, I found agent pkg already updated, like below

[code]

I know that upgrade my go version would solve it, but I just curious what I am doing wrong, because look like you already solved it.

And I am willing for contributing some work for this project.

Thanks

[2021-02-03 14:48] FanaHOVA commented on #49
@petethepig How about adding DeepSource? It has transformers built-in to lint the code automatically. http://deepsource.io

[2021-02-04 00:28] #54 closed

[2021-02-04 00:31] Rperry2174 commented on #60
Fixed in #64

[2021-02-04 00:31] #60 closed

[2021-02-04 04:29] petethepig opened #66 "Make a program that would generate an example config file"
Someone else brought it up, but I don't remember where, so I apologize in advance for lack of proper attribution.

### Summary

We have a config struct for the server, [located here](https://github.com/pyroscope-io/pyroscope/blob/main/pkg/config/config.go#L31), it looks like this:

[code]

It would be cool to write a script that would take this struct and generate a **self-documented** sample conf

[2021-02-04 09:07] petethepig commented on #59
This is tricky because the profilers we use are all sampling profilers — they look at the current stacktrace of a given program X times per second. So there's no information about how many times a certain function got called. Good thing about this is that they are significantly less taxing in terms of CPU overhead. The bad thing is... well, we can't get number of invocations for example :)

We cou

[2021-02-04 15:21] camba1 commented on #59
Hum... I see how that would be a hard number with sampling profilers. So maybe this is a feature to be added later if you decide to use other profilers or if you allow user specified sampling rate. The user could set it very high and get a potentially meaningful number. Anyways, this may be a long term thing.

In terms of situations when this would useful. Here is a very simplified real world exam

[2021-02-04 22:59] petethepig commented on #8
Found this project, seems promising, but this is for heap profiling:
* https://github.com/v8/sampling-heap-profiler

[2021-02-05 00:02] petethepig commented on #59
@camba1 Thank you! This is exactly what I was looking for, very helpful.

I think this would require a different type of profiler, so definitely more of a long-term thing.

[2021-02-05 23:41] Rperry2174 opened #68 "Move Date Range Picker to side of dropdown"
Right now when using the date range picker it hides the "apply dates" button, which one needs to click in order to apply the new daterange.

Would be nice if the date range picker was over to the side so that someone using it will know that they need to go and apply the range in order for it to stick:

![image](https://user-images.githubusercontent.com/23323466/107100243-9bcdad80-67c8-11eb-9240-80

[2021-02-05 23:53] Rperry2174 commented on #16
Make some mechanism by which there can be two separate timelines associated with each side of the screen. Either by passing their data into the `FlamegraphRenderer` instead of `FlamegraphRenderer` using state or make the state able to support two different timelines / sets of flamegraph data.

End goal of this would be something that looks like this:
![small_ai_preview](https://user-images.githubu

[2021-02-07 04:58] Rperry2174 commented on #16
I've started working on this in [another branch](https://github.com/pyroscope-io/pyroscope/compare/comparison-view)... Interested to get your thoughts @petethepig :

So currently the flow for `FlameGraphRenderer` is (roughly):
1. Parameters change (and thus update state )
2. Updates to state trigger new API call for the new data (if `from`, `until`, `max-nodes`, or `name` changes)
3. The response

[2021-02-08 19:04] petethepig commented on #8
0x seems promising for CPU profiling https://github.com/davidmarkclements/0x

[2021-02-09 00:58] #66 closed

[2021-02-09 19:55] Rperry2174 commented on #16
Got a version working, but basically we need to use some sort of charting library because there is no way to select multiple ranges with this ReactFlot library and this is what we're trying to do. We want for the top timeline to remain constant... Then on the bottom two timelines we want a user to:

1. Be able to select a subset of the top timeline so that they can compare two sub-periods
2. Have

[2021-02-11 06:48] Rperry2174 commented on #16
After talking to @abaali they had a good suggestion to try [Apex Charts](https://apexcharts.com/javascript-chart-demos/line-charts/line-chart-annotations/) Library which looks like it has ability to do ranges:
![Uploading image.png…]()

[2021-02-11 09:33] sujit-baniya opened #70 "write: broken pipe"
Out of  requests (on local), one request end up with write: broken pipe

ERRO[0263] Error happened when uploading a profile:Post "http://localhost:4040/ingest?from=1613035910&name=Verify+Rest&sampleRate=100&spyName=gospy&until=1613035920": write tcp 127.0.0.1:58206->127.0.0.1:4040: write: broken pipe

And another error:
ERRO[0453] Error happened when uploading a profile:Post "http://localhost:4040

[2021-02-11 23:58] petethepig commented on #70
Do most requests succeed, or does every single one fail?

[2021-02-12 01:57] sujit-baniya commented on #70
@petethepig Most of the request succeed.. and some are failed (I would say every 5 or 10 request, above error occurs

[2021-02-12 18:10] petethepig commented on #8
This is promising https://github.com/google/pprof-nodejs

[2021-02-12 22:04] markhuot commented on #30
I would like to help with this but am not sure where to start. I'm thinking we could leverage some of the existing sampling profilers out there but am not sure what changes need to be made to their output for Pyroscope to read them correctly.

Examples,

- https://github.com/adsr/phpspy
- https://github.com/sj-i/php-profiler
- https://github.com/nikic/sample_prof

[2021-02-12 23:02] petethepig commented on #30
@markhuot This is already very useful! `phpspy` looks very promising. Profilers we use for python and ruby (`py-spy` and `rbspy`) use a similar approach for getting the profiling data (they look at process memory X number of times per second) and I bet it would be relatively straightforward to add `phpspy` to pyroscope if we modify it just a little bit.

---

For example, here's how we integrated

[2021-02-15 18:41] vmarchaud commented on #8
@petethepig I've wrote some kind of wrapper around nodejs profiling in 2019, you can find them there: [cpu](https://github.com/vmarchaud/openprofiling-node/blob/master/packages/openprofiling-inspector-cpu-profiler/src/inspector-cpu-profiler.ts) and [heap](https://github.com/vmarchaud/openprofiling-node/blob/master/packages/openprofiling-inspector-heap-profiler/src/inspector-heap-profiler.ts). Now

[2021-02-15 18:42] vmarchaud commented on #8
Also not directly related to NodeJS but you might find this interesting for browser profiling: https://wicg.github.io/js-self-profiling/

[2021-02-18 08:08] petethepig opened #83 "Document the agent protocol"
Multiple people asked for this in both slack and twitter, We need to write something about it soon.

[2021-02-19 09:00] kornerc opened #85 ".deb package - wrong file path"
In the [docs](https://pyroscope.io/docs/#step-1-install-the-pyroscope-server) it is stated to install the Pyroscope server under Ubuntu with
[code]

However, this raises an error on my machine
[code]

Replacing `sudo apt-get install pyroscope_0.0.23_amd64.deb` with `sudo apt-get install ./pyroscope_0.0.23_amd64.deb` solves my problem.

# Environment
[code]

[2021-02-19 09:02] petethepig commented on #85
@kornerc Thanks for reporting this, I'll look at it tomorrow!

[2021-02-20 02:07] suzaku opened #88 "Go application hang after starting pyroscope profiler"
I'm trying to use pyroscope to profile [JuiceFS](https://github.com/juicedata/juicefs/blob/main/cmd/main.go#L34).

But after adding the code snippet in `main` to start the profiler, the service doesn't work. When I do `ls` in the directory mounted by JuiceFS, it never returns.

The web UI looks like the following screenshot:

<img width="1582" alt="Screen Shot 2021-02-20 at 10 06 36 AM" src="https

[2021-02-20 02:13] petethepig commented on #88
Hi @suzaku . Thanks for reporting this. I'll try to reproduce and report back.

[2021-02-20 02:23] petethepig commented on #85
@kornerc We updated instructions on the website. Thanks again!

[2021-02-20 13:07] Issif commented on #70
I've same issue, and for all uploads:

[code]

[2021-02-20 14:44] markhuot commented on #30
Thanks for these pointers @petethepig! I've dug in to `phpspy` and have a much better understanding of how it's working and what it's doing now. Unfortunately the C work is a bit outside my day-to-day experience so I'm getting up to speed on that. In your first bullet you say "we modified rbspy to compile into a library instead of an executable binary." Is that something you did inside the `rbspy`

[2021-02-20 15:54] markhuot commented on #30
Ah, I think I see. I've been looking through this commit for inspiration, https://github.com/pyroscope-io/rbspy/commit/00dbbe4acd9114d13c16de8a3c2f134be59af8e3

[2021-02-20 20:15] petethepig commented on #30
@markhuot I think for a C library it will be more of a flag in the compiler type thing.

[2021-02-21 08:07] petethepig commented on #83
This kinda depends on #28 because right now we control the client and it always sends data in 10 second chunks. We need to confirm the storage part won't break if you start sending data for arbitrary time periods.

[2021-02-22 19:22] #85 closed

[2021-02-23 01:13] petethepig commented on #70
I think intermittent issues were fixed by #87.

[2021-02-23 03:55] Rperry2174 opened #91 "DRY actions for leftFrom, leftUntil, rightFrom, and rightUntil"
In PR #90 I introduced the ability to set three different timelines:
1. The main timeline at that top. this happens on both the "single view" page and the "comparison" page
2. The left timeline -- this only happens on the comparison page (where there are two timelines / flamegraphs)
3. the right timeline -- this only happens on the comparison page ( where there are two timelines / flamegraphs)

In

[2021-02-23 08:10] wolfv opened #92 "Memory leak detection"
Hi,

pyroscope looks awesome! I am looking forward to use it to monitor / profile our server application.

I was wondering if pyroscope can also measure memory usage, and help debug memory leaks? Is that in scope / on the roadmap?
Just curious, and feel free to close the issue.

[2021-02-23 09:06] kornerc commented on #85
You're welcome, thank you for this great project!

[2021-02-23 13:15] wusphinx opened #94 "Add Java support"
Found this open source project that may help
- https://github.com/alibaba/arthas

[2021-02-23 13:49] sujit-baniya commented on #70
@petethepig Still there are these issues:

[code]

[2021-02-23 18:50] petethepig commented on #70
@sujit-baniya  Are you using the latest version? we just released one

[2021-02-23 23:50] sujit-baniya commented on #70
@petethepig Yes I pulled latest docker image for server and latest agent for app

[2021-02-24 03:16] wolfogre commented on #4
I couldn't agree more, I can found any way to disable logging, changing the StandardLogger in logrus may help, but it is a bad idea.

[2021-02-24 09:40] YangKeao opened #95 "differential flamegraph for comparision view"
First thanks for the `pyroscope`. It's really a great project :beers:

I have seen the comparision view in the online demo. It's awesome :+1: . Wouldn't it be better to show as a [Differential Flame Graphs](http://www.brendangregg.com/blog/2014-11-09/differential-flame-graphs.html), as it's really hard to tell the difference between two flamegraph :cry:.

[2021-02-24 09:43] YangKeao commented on #83
Yes. As the author of a simple rust profiler ([`pprof-rs`](https://github.com/tikv/pprof-rs)), I cannot wait to integrate it with a continuous visualizer :mechanical_arm:  .

[2021-02-24 23:47] Rperry2174 commented on #95
Hi @YangKeao I think this is a great idea actually! Thanks for the resource as well it definitely lays out some of the parts where we got stuck as we were thinking about how to display this data. Just curious what your opinion is on which diff you think is best UI/UX and which one is most useful:

[Option 1:](http://www.brendangregg.com/blog/images/2014/zfs-flamegraph-diff.svg) Red blue differenti

[2021-02-24 23:47] petethepig commented on #83
@YangKeao This is the next thing on my TODO list after #7

[2021-02-24 23:59] Rperry2174 opened #96 "Add a way to export flamegraph (and table) as image or pdf"
A lot of people have been asking for ways of how they can export the flamegraph data so that they can either save it or share it with other members of their org. We should add a button that allows users to export this data. Some things to consider:

1. Data should be able to export to image
2. Table also needs to be somehow converted to image
3. Potentially both should be able to send as a PDF

Th

[2021-02-25 00:01] Rperry2174 opened #97 "Add Frontend Support for annotations on timeline"
Most charting libraries have a way to annotate data. We should make it so that if you want to specifically annotate something special at a particular timestamp, that you can click on the timeline graph and add that annotation

![image](https://user-images.githubusercontent.com/23323466/186502103-d4cedb23-81ad-42a7-a8ec-edd9319c29ed.png)

[2021-02-25 00:26] Rperry2174 commented on #39
Here is a gif showing what a lot of users do when they come in and click on a node
![2021-02-24 16 16 47](https://user-images.githubusercontent.com/23323466/109084089-f49fb000-76bb-11eb-832d-49b137a49229.gif)

Situation 1:
1. The click a node to zoom in on it
2. They **try** to click the node a second time to zoom out from it... But nothing happens when re-click a node

This problem can be fixed,

[2021-02-25 08:45] YangKeao commented on #95
I prefer the first two options :yum: . As described in the article, they are useful for different situations. The best solution may be making it selectable and let the users choose the best fit one.

[2021-02-25 15:19] wusphinx commented on #97
It's better to show timestamp when I click on the timeline

[2021-02-25 18:05] Rperry2174 opened #99 "Add Tooltip to Timeline Chart"
We currently use the [Flot](http://www.flotcharts.org/flot/examples/) library for our timeline. We'd like to add a tooltip that moves horizontally along the X axis and tells you what timestamp is currently being hovered:

This is an example taken from ApexCharts, but we'd like to recreate this (tooltip only) in Flot library
![ezgif com-gif-maker](https://user-images.githubusercontent.com/23323466/

[2021-02-26 02:14] petethepig opened #100 "Make a subcommand to upload profiles (pyroscope upload)"
As I was working on #83 I figured it would be cool to be able to do something like:
[code]

I think this would also enable faster adoption of other profilers.

---

It could also support a mode in which it chunks (10 second each) a stream of profiling data coming in that same kind of format.

---

There's already support for different profiling formats:
* https://github.com/pyroscope-io/pyroscope/

[2021-03-02 08:41] thedrow opened #103 "PyPy support"
Is PyPy a supported implementation for profiling Python?

[2021-03-02 15:19] chadbrewbaker commented on #94
Just use the eBPF mode and bcc tools for java scripts. https://github.com/iovisor/bcc/tree/master/tools

[2021-03-02 15:21] chadbrewbaker commented on #92
Modify the code to also log /proc/pid/status etc:
https://unix.stackexchange.com/questions/224015/memory-usage-of-a-given-process-using-linux-proc-filesystem

[2021-03-03 20:16] JonathanRaiman commented on #48
Using Mac OSX 10.15.6, Python 3.8.2, installed python with OS I believe, installed in /usr/bin/python3. not using virtualenv

[2021-03-04 14:46] rayanbettis opened #104 "Try"
Guite

[2021-03-05 06:44] schrepfler commented on #94
Also this https://github.com/jvm-profiling-tools/async-profiler (also has converters, JFR to Flame Graph, JFR to FlameScope, collapsed stacks to Flame Graph)

[2021-03-05 10:04] scbizu opened #105 "client/agent: make client log level configurable"
Hi , there ! Thanks for writing such an awesome profiling platform ~

We try to integrate pyroscope go client into our Go codebase , but we found that the profile upload log is too frequent to find other logs (and the log itself is not important for the business developers) .

We know that we can set the `LOG_LEVEL` to our env to set the log level by ourselves , but things not goes easy , we also

[2021-03-05 10:29] scbizu commented on #105
I see #102 🤩

[2021-03-05 19:40] petethepig commented on #105
I know it's annoying, we'll fix it soon, sorry!

[2021-03-05 21:05] petethepig commented on #104
Hi Rayan. I don't know what you mean by that. I think we're gonna need more information. I'm gonna close this for now, feel free to reopen if you something more substantial to add.

[2021-03-05 21:05] #104 closed

[2021-03-06 23:46] rayanbettis opened #106 "hello word"

[2021-03-07 00:48] Rperry2174 commented on #106
Please only make an issue if you have something substantive to add @rayanbettis

[2021-03-07 00:48] #106 closed

[2021-03-07 00:53] rayanbettis opened #107 "Please only make an issue if you have something substantive to add @rayanbettis"
Please only make an issue if you have something substantive to add @rayanbettis

_Originally posted by @Rperry2174 in https://github.com/pyroscope-io/pyroscope/issues/106#issuecomment-792134295_

[2021-03-08 02:51] petethepig commented on #105
Addressed in #102

[2021-03-08 02:51] #105 closed

[2021-03-08 03:00] #107 closed

[2021-03-08 13:36] ediphy-dwild opened #110 "add pyspy nonblocking support"
is there any way to switch to pyspy nonblocking operation with an envvar or command line parameter?

when we launch our process with pyroscope, we see that our process hangs. from reading the py-spy docs it seems like this can happen when nonblocking mode is not used.

we are running on GKE (google kubernetes engine), with SYS_PTRACE enabled, kernel 4.19.112+, python 3.6.12, docker image pyroscope

[2021-03-08 14:56] koolay commented on #49
@petethepig
How about `golangci-lint` ?

[2021-03-09 06:27] caleb15 opened #111 "Could not read capabilities"
[code]

This is with the version of pyroscope downloaded from https://dl.pyroscope.io/release/pyroscope-0.0.25-linux-amd64.tar.gz

[2021-03-09 07:39] petethepig commented on #111
Thanks for bringing it up, I'll look into it some more.

[2021-03-09 09:45] scbizu opened #112 "server: concurrent map write"
Hihi , we recently see a **concurrent map writes** caused panic in our pyroscope container.

<details>
<summary>Here is some logs:</summary>

[code]

</details>

https://github.com/clarkduvall/hyperloglog/blob/master/hyperloglogplus.go#L150 It seems that the hyperlogplusplus's `tmpset` do not hava the concurrent map lock

[2021-03-09 17:48] petethepig commented on #112
That's a bummer. Sorry that happened. Thanks for the report, I'll fix it soon.

[2021-03-10 02:27] h1z3y3 opened #113 "Many write support"
I deploymented pyroscope in k8s cluster, and used the pvc to share the data between pods.
But only support 1 pod in running.

![image](https://user-images.githubusercontent.com/12080364/110566543-253b1b80-818b-11eb-933d-66083720373f.png)

[2021-03-10 02:31] petethepig commented on #113
You should treat `pyroscope server` as a database. You only want to run one `pyroscope server` for multiple applications. It won't work with pvc unfortunately.

[2021-03-10 03:24] h1z3y3 commented on #113
Thanks a lot, I get it.
Then I should give more resources to the single pod, such as CPU and memory.

[2021-03-10 03:31] h1z3y3 commented on #113
In the other way, I wonder if pyroscope will support sampling?
Putting specific percent data to the server can reduce server's pressure.

[2021-03-10 06:39] petethepig commented on #112
Fixed in https://github.com/pyroscope-io/pyroscope/commit/66ad8771696aec72cb754594072c900ce8abdc41

[2021-03-10 06:39] #112 closed

[2021-03-10 09:44] scbizu commented on #112
When will  the new release ship to docker hub 🤩

[2021-03-10 09:58] et84121 opened #114 "[Bug] Cannot use ebpfspy in Debian"
I use pyroscope with ebpfspy in [Python docker official Images](https://hub.docker.com/_/python/) and it's based on Debian Buster image.

According to this [article](https://blog.lazy-evaluation.net/posts/linux/bpf-superpowers-for-linux.html)

there is no directory in `/usr/share/bcc/tools/profile` ,  so Pyroscope with  [ebpfspy](https://github.com/pyroscope-io/pyroscope/blob/28f31b86718751f6668f1

[2021-03-10 16:06] steskalja opened #115 "Windows Server Support"
Will there eventually be Windows Server support? It is about half the market.

[2021-03-10 17:10] petethepig commented on #112
@scbizu I'll release today!

[2021-03-10 22:24] petethepig commented on #115
We do plan to add support for Windows Server eventually.

[2021-03-10 23:00] petethepig commented on #114
Thanks for reporting this. We'll fix it in the next release

[2021-03-11 05:36] benaadams opened #117 "Add .NET support"
There is already a cross platform (Windows, macOS, Linux) sampling profiler for .NET as part of the platform which can be invoked with `dotnet trace collect` ([instructions](https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-trace-instructions.md))

Would be great it this could be adapted or utilised to serve as an agent for pyroscope.

Have also raised an issue in the .NET dia

[2021-03-11 05:40] petethepig commented on #7
Implemented in #101

[2021-03-11 05:40] #7 closed

[2021-03-11 06:37] Ackerr opened #118 "Feature: support environments filter application"
Most of our projects has multiple environments like test and production. Now we create multiple app by one project. I think If use env, it will be clean and tidy.

like Sentry:

![image](https://user-images.githubusercontent.com/35414361/110745669-94da0500-8276-11eb-8e3f-9de3b842c392.png)

[2021-03-11 07:12] petethepig commented on #118
Good idea. I know it's not the same, but for now you could create different application names for each environment, e.g:
* `app-name.production`
* `app-name.development`

[2021-03-11 07:15] Ackerr commented on #118
Thanks for your reply. Yeah, that's what I'm doing now.

And another question：how to delete a discard app?

[2021-03-11 07:20] petethepig opened #119 "Feature: add ability to delete apps"
See https://github.com/pyroscope-io/pyroscope/issues/118#issuecomment-796519891 for context

[2021-03-11 07:20] petethepig commented on #118
@Ackerr That's a feature we should add soon :)

I created an issue: https://github.com/pyroscope-io/pyroscope/issues/119

[2021-03-11 07:25] #118 closed

[2021-03-11 10:19] dreamlu opened #120 "ERRO[xxx] Direct upload queue is full, dropping a profile"
ubuntu 20.04

go 1.15.8

![image](https://user-images.githubusercontent.com/21306894/110771477-80f1cb80-8295-11eb-9fe7-be74e151de70.png)

this error appear when i start the pyroscope server a few minutes

every time I exec `docker restart pyroscope`, it will be right, a few minutes it will be error and see nothing in the brower

ps： thanks for the useful project

[2021-03-11 14:15] kokizzu opened #121 "How much overhead this pyroscope?"
eg. defer = 4ns per call, how about pyroscope?

[2021-03-11 17:30] petethepig commented on #120
It's fixed in the latest release I think.

[2021-03-11 18:42] petethepig opened #122 "Support for higher (than 10s) resolution for profiling data"
We've received some feedback about potentially increasing the minimum resolution for profiling data. Right now we're storing data in 10 second chunks. For more information on how it's stored see our [Storage Design doc](https://pyroscope.io/docs/storage-design)

I see a couple of ways we could implement this:
* allow users to modify the default hardcoded 10 second resolution
* store individual tim

[2021-03-12 01:37] dreamlu commented on #120
thanks, it's fixed

[2021-03-12 01:37] #120 closed

[2021-03-13 08:29] petethepig commented on #114
@et84121 This has been fixed in [0.0.28](https://github.com/pyroscope-io/pyroscope/blob/main/CHANGELOG.md#0028-2021-03-11)

[2021-03-13 08:29] #114 closed

[2021-03-13 08:38] et84121 commented on #114
thanks you for quickly bug fix

[2021-03-13 08:55] petethepig commented on #49
@koolay We're already using `revive`. Is `golangci-lint` better? I'm not super familiar with go linters.

[2021-03-13 10:24] koolay commented on #49
@petethepig [golangci-lint](https://golangci-lint.run/product/trusted-by/) is more popular.

[2021-03-14 01:01] chadbrewbaker opened #130 "Pyroscope eBPF "hello world" for Github Actions and WSL2"
Already asked over at https://github.com/optimyze/prodfiler-documentation/issues/7

I want to get Pyroscope working for the Rust uutils/coreutils CI.

Looks like Github Actions is running a 5.4.0-1040-azure kernel. About the same kernel Microsoft has for latest WSL2 builds.

I think this is the 5.4.0-1040-azure kernel config file? If not it is in that directory.

https://git.launchpad.net/~canonic

[2021-03-14 01:53] chadbrewbaker commented on #130
It would look something like this? Can it log to a directory instead of having to start an instance of the pyroscope server?

[code]

[2021-03-14 02:04] chadbrewbaker commented on #130
Looks like the user agent is just doing this under the hood? Be nice to have a pure bash version so you didn't need to install Golang on the box under profile. (Unless that is already a bcc-utils dependency)

[code]

https://github.com/pyroscope-io/pyroscope/blob/f8105fdb3be4808d151ba422ee12f266df4db871/pkg/agent/ebpfspy/session.go#L41

[2021-03-14 02:15] chadbrewbaker commented on #122
Noodling with this now: https://github.com/pyroscope-io/pyroscope/issues/130

When benchmarking you want high resolution. Not sure what Thomas is doing for optymize.cloud - I would pipe it to zstd (with a dictionary trained for pyroscope logs) in 50m chunks then exfiltrate it over the network or to disk.

--resolution=Xms would be my preferred flag. Default to your 10000ms is fine with me.

[2021-03-14 02:51] chadbrewbaker commented on #130
Under the covers what bcctools profile does. Perhaps add a binary mode with a symbol dictionary in memory then output stacks in binary separated by newlines? Print the stacks as UTF-8 character keys (ASCII newline reserved) so symbols start at only one byte long and gradually grow.

https://github.com/iovisor/bcc/blob/master/tools/profile.py

[2021-03-14 03:26] chadbrewbaker commented on #130
Thoughts on writing a high performance Rust trie logger https://github.com/paritytech/trie/issues/128 , could wrap it in python and upstream it to bcc-utils-profile or re-write bcc-utils-profile as a rust script.

[2021-03-17 00:43] hananbeer commented on #8
I don't understand why you would need to profile v8 for nodejs. that's like profiling CPython compared to simply python as you already did. let v8 devs take care of v8, they have their tools.

now for nodejs, you can hook require, this will allow you to modify any local or global module, maybe look at istanbul instrumentor on npm. you could just hook everything and only profile if delta time is ov

[2021-03-17 04:09] petethepig opened #133 "Switch from pkger to go:embed"
### Summary

Go 1.16 was released in February and the feature we're most excited about is `go:embed`.  Relevant articles:

* https://golangtutorial.dev/tips/embed-files-in-go/
* https://golang.org/doc/go1.16

Currently we use `pkger` to embed web app assets into the binary. This is only enabled in production builds.

### Objective

Switch from `pkger` to `go:embed`

### Relevant code

* place wher

[2021-03-17 06:03] Divya063 commented on #133
@petethepig I would like to pick this up.

[2021-03-17 07:03] petethepig commented on #133
@Divya063 Go ahead! Reach out to me in our [Slack](https://pyroscope.io/slack) or here if you need any help with anything.

[2021-03-17 07:54] petethepig commented on #59
Somewhat similar feedback https://news.ycombinator.com/reply?id=26486923

[2021-03-17 10:03] vmarchaud commented on #8
I had an issue with v8 deoptimization that pushed one of my app CPU usage to >80% (vs 40% baseline). You can also have C++ dependencies (like grpc) that won't be profiled.
Even if issues like this are rare, doesn't mean its useless to support those. Altrought its hard to support `perf` i agree.

I would suggest to lookup performance for this, this is highly ineficient and block the main thread (so

[2021-03-17 13:18] adrianandreias commented on #30
PHP support would be really useful.

[2021-03-18 11:50] miravtmehta opened #137 "chore(style): update Python format style"
chore(style): update Python format style

[2021-03-18 12:35] #137 closed

[2021-03-18 14:21] hporro opened #139 "Some questions/improvements to the pyroscope/docs/storage-design.md file"
Hi! I read the pyroscope/docs/storage-design.md file and I think is great that you are sharing the way you optimize things!
I thought that you may use some feedback on it, and found some things that I think may also be interesting to read about:

- Why use a segment tree and not another kind of tree data structure (I guess is because the query times, but I think it may be interesting to read about

[2021-03-18 19:22] Rperry2174 commented on #139
Thanks for the thoughtful questions @hporro ! Let us take a little time to think about these and give some thoughtful answers :)

[2021-03-19 10:46] rajat2004 opened #140 "Errors while building from source on Ubuntu 18.04"
Hey, so I found this project and it looked pretty interesting, tried out the latest release and working correctly, I wanted to build it from source but am having some problems; therefore thought to open the issue to see where I'm doing things incorrectly and maybe even help in improving the docs :)

First thing is regarding the dependencies. The versions are not mentioned in the [Developer Guide](

[2021-03-22 06:44] Rperry2174 commented on #139
Yeah we can go into more depth here, but the three main use cases for segment trees are:
1. Sum all elements in a range
2. Update all elements in a range
3. Find the min or max value of elements in a range

Basically because we are trying to make profiling continuous it helps here to use a segment tree because its generally built for dealing with _ranges_ of units (in this case time)

Yeah you're

[2021-03-24 05:29] Rperry2174 commented on #29
@petethepig this can be closed right?

[2021-03-24 05:29] #29 closed

[2021-03-25 05:02] rajat2004 commented on #140
Another update, I can confirm that this isn't something occurring specifically on my system, though there is possiblilty of incorrect library versions being linked. I wrote a Dockerfile for Ubuntu and tested in it, still the same errors. My intention was to create a docker container to build the code while making the changes from my system and they should be visible inside the container.

[Docker-

[2021-03-27 20:46] AulonSal opened #142 "Makefile rule build-release fails when GOPATH contains multiple directories"
Rule build-release depends on rule embedded-assets:
https://github.com/pyroscope-io/pyroscope/blob/a94aca370330143920ae31472a3b27001924bbca/Makefile#L67-L69

According to `go help gopath`:
[code]
Thus the rule fails when there is more than one directory in GOPATH as line 69 evaluates to `/path/1:/path/2/bin/pkger -o pkg/server`

[2021-03-28 15:07] hporro commented on #139
Thank you!

[2021-04-01 00:25] Ehco1996 opened #147 "my app can not read env after pyroscope exec"
i found a strange situation that if i use ` pyroscope exec` to run some python scripts

in my own scripts can't read system env

anyone could help?

[2021-04-01 00:31] Ehco1996 commented on #147
To reprocude

test.py
[code]

`export SS_LOG_LEVEL=debug`

when we run `python test.py` we get `debug`

but when we run `pyroscope exec python test.py` we get`none`

[2021-04-01 01:16] petethepig commented on #147
Try adding `-E` flag to `sudo`:
[code]

By default sudo drops those environment variables. We do have this on some pages in the docs, but not everywhere.

Thanks for bringing this up, we'll update the docs!

[2021-04-01 02:01] Ehco1996 commented on #147
@petethepig

thanks for you reply，but my app running in the container without  `sudo`

so i don't know where to pass `-E` flag

[2021-04-07 02:52] petethepig commented on #110
Hi @ediphy-dwild

We made non-blocking mode the default in the latest version (0.0.29) it should work much better now.

Let me know if it fixes the issue

[2021-04-07 03:52] petethepig commented on #111
I removed the warning as it is not very useful.

[2021-04-07 03:52] #111 closed

[2021-04-07 11:17] ediphy-dwild commented on #110
great to hear! will upgrade to latest and post back here - many thanks

[2021-04-08 13:43] mrowland7 opened #152 "Very different results from Go's built-in pprof: all goroutines vs active goroutines?"
Hey, I've been trying out Pyroscope the past few days and it's pretty cool! I noticed one odd thing with the Go integration - the results it gives are quite different from the ones using Go's built-in [pprof](https://golang.org/pkg/net/http/pprof/).

Pyroscope:
<img width="1955" alt="Screen Shot 2021-04-07 at 5 27 12 PM" src="https://user-images.githubusercontent.com/1819447/114036127-cb8f4500-984

[2021-04-08 13:51] mrowland7 opened #153 "Expected overhead of Pyroscope in Go?"
Hey, in the process of researching https://github.com/pyroscope-io/pyroscope/issues/152, I took a profile with Go's built-in `pprof` tool. I noticed that the snapshotting process takes ~13% of CPU time for our already-fairly-busy service.

<img width="2586" alt="Screen Shot 2021-04-08 at 9 48 21 AM" src="https://user-images.githubusercontent.com/1819447/114038150-9e439680-984f-11eb-87c1-03a12afc2b

[2021-04-08 18:45] petethepig opened #154 "Add ability to change sampling rate"
Currently it's hardcoded at 100 Hz.

Multiple people asked for this in both [Slack](https://pyroscope.io/slack) and here on Github, e.g #153

[2021-04-08 18:58] petethepig commented on #152
Yes, the current implementation will show certain stacktraces even though the application is just waiting for IO. One way to think about it is this is wall time profiling and `pprof` is CPU time only profiling.

We've got similar feedback before and the idea behind #146 is that it will improve this. We're currently experimenting with different ways of getting the profiling data and we're most like

[2021-04-08 21:34] mrowland7 commented on #153
* ~1300 goroutines
* 64 CPU cores available
* ~25 CPU cores/second utilized on average

[2021-04-09 06:34] petethepig commented on #153
@mrowland7 Thanks for providing the details, this is useful for us!

[2021-04-11 03:47] #147 closed

[2021-04-12 10:37] oak-tree opened #155 "any plans to support cpp?"

[2021-04-14 17:14] petethepig commented on #155
Hi @oak-tree

We currently have support for [eBPF profiling](https://pyroscope.io/docs/ebpf) — it allows for cpp profiling, but only work on Linux.

Is there any existing tools you (or others) would recommend for cpp profiling?

[2021-04-15 20:23] petethepig opened #156 "Add pyroscope to homebrew-core"
### Summary
Currently we have a separate repo and people install pyroscope via a tap:
[code]

This is great but it would be even better if they could just do:
[code]

I think we're big enough at this point that we can be added to homebrew core. This will make the installation simpler and makes us look more legit.

### TODO

* [ ] go through the process of adding [pyroscope to homebrew](https://doc

[2021-04-16 18:11] AulonSal commented on #142
Not fixed, pkger is in path/bin for a path in $GOPATH, adding $GOPATH to $PATH won't put it in path, and it will instead always fail now.

[2021-04-16 18:29] petethepig commented on #142
@AulonSal oh yeah, you're right. What do you is the best solution here?

I can think of 2 ways we could handle this:

* add `/bin` to each path in GOPATH in this Makefile
* I recently added this [pinned-tool.sh](https://github.com/pyroscope-io/pyroscope/blob/main/scripts/pinned-tool.sh) wrapper  — we could use it here as well.

basically the idea with it is that you'd run it like this:
[code]

and

[2021-04-16 19:07] AulonSal commented on #142
The second approach results in:
[code]

[2021-04-16 19:13] petethepig commented on #142
@AulonSal Right... that's because `pkger` main package is in `cmd/pkger`

Okay, new plan. What if we changed the `scripts/pinned-tool.sh` to just echo the path to the module:
[code]

And then we could run the script like this:
[code]

---

I tested it on my setup and it works.

[2021-04-17 21:38] AulonSal commented on #142
Yeah, that works for me too.

[2021-04-19 22:28] petethepig commented on #30
Started working on it in #157

[2021-04-19 22:32] petethepig commented on #30
Also made this diagram describing the relationship between components: ![agents](https://user-images.githubusercontent.com/662636/115311366-69bfbc80-a124-11eb-9891-8f94f9df0eac.png)

[2021-04-20 10:41] sunhailin-Leo opened #158 "How to spy the gunicorn server?"
* How to spy the gunicorn server?
* I will try to use `pyroscope` to monitor my gunicorn server.
* So, I meet this error: Error: could not automatically find a spy for program "gunicorn". Pass spy name via -spy-name argument, for example

[2021-04-20 11:05] sunhailin-Leo commented on #158
* I got it!

* Here is my example command: `pyroscope exec -spy-name pyspy gunicorn --preload -k "$WORKER_CLASS" -c "$GUNICORN_CONF" "$APP_MODULE"`

[2021-04-20 11:05] #158 closed

[2021-04-21 01:53] juniortads commented on #117
I would like to hear about the next steps on this issue :)

[2021-04-22 22:34] petethepig commented on #142
@AulonSal I updated the [Makefile](https://github.com/pyroscope-io/pyroscope/blob/main/Makefile#L67-L73)

[2021-04-23 00:51] AulonSal commented on #142
Thanks.

[2021-04-23 00:51] #142 closed

[2021-04-23 07:12] zhangdongdong7 opened #160 "any plans to support heap and goroutine?"

[2021-04-23 08:00] jonyhy96 opened #161 "Multiple application with same ApplicationName"
In comparison view, we can only compare under same application.
When deploy application to k8s, the replicates of pod is always bigger than 1. They shold be treate seperatly but i can't find a way to define it's name appropriately.
How can we deal with situation like this? Will pyroscope support label or something else in config?

[2021-04-24 14:57] #140 closed

[2021-04-24 15:01] Rperry2174 opened #162 "Add Support for Tags"
Many have requested support for tags. While we built the backend in a way where it should be able to support tags fairly easily we just need to figure out the best way for labeling things (i.e. by IP, Kubernetes Pod, etc)

[2021-04-24 15:03] Rperry2174 commented on #161
Thanks for making the issue! As of right now we don't support tags, but we did design the storage engine in a way where they can be added. I created an issue #162.

[2021-04-26 15:25] m110 opened #163 "nil pointer dereference in transporttrie"
Hey Team 👋

We've stumbled upon a panic following metrics ingestion. As far as I can tell it hasn't been reported yet. 🙂

This is on version `0.0.28`

It seems there's an unhandled error at https://github.com/pyroscope-io/pyroscope/blob/v0.0.28/pkg/convert/parser.go#L14

[code]

[2021-04-26 18:32] petethepig opened #164 "Add a page with stats about the pyroscope server"
E.g it would be useful to be able to see how much disk space / ram available the server has, how much CPU it's using, etc.

It would be nice to be able to see the config object pyroscope is running with (we need to make sure we exclude things that are secrets)

[2021-04-26 18:35] petethepig opened #165 "Make pyroscope handle lack of disk space gracefully"
Currently when pyroscope runs out of disk space it might corrupt the data in the database. We should make it so that:
* [ ] pyroscope detects that it's close to running out of space
* [ ] when this happens, stop accepting writes
* [ ] have a way to notify users that this is close to happening, e.g we should have some notifications on the frontend and also probably a dedicated "server status" page

[2021-04-27 02:28] petethepig opened #166 "Windows support"
![image](https://user-images.githubusercontent.com/662636/116189764-4aa1cb80-a6de-11eb-922f-59f385e446f0.jpeg)

### TODO

* [ ] make pyroscope compile on windows. This shouldn't be too complicated but will take some time for sure as there's a lot of moving parts in the current build process, e.g pyspy, rbspy — I think in v1 we can disable them though. We could also skip this for now and start with

[2021-04-27 02:31] petethepig commented on #117
Done some research, here is a rough TODO list:

* [ ] (optional) add windows support, moved this to a separate issue (#166)
* [ ] as for the integration itself, we could add a new `dotnetspy` and copy the architecture after [`ebpfspy` integration we already have](https://github.com/pyroscope-io/pyroscope/tree/main/pkg/agent/ebpfspy). That one starts a script (it's `profile.py` in ebpfspy case, for

[2021-04-27 04:33] Rperry2174 commented on #163
Thanks for reporting well add a fix for this in the next release!

[2021-04-27 22:32] petethepig opened #167 "Dynamically resize cache depending on the amount of RAM available"
### Introduction

Pyroscope keeps most frequently used objects in an LFU cache layer in RAM. This way we get good write and read performance.

See our [Storage design doc](https://github.com/pyroscope-io/pyroscope/blob/main/docs/storage-design.md) for more context on the overall architecture.

![image](https://user-images.githubusercontent.com/662636/116319718-dca3e580-a76b-11eb-956b-cb85bc70b162.

[2021-04-28 18:15] petethepig opened #168 "Implement data retention in storage layer"
### Feature Description

Sometimes it doesn't make sense to store data indefinitely so we need to implement a way to do data retention.

Internally Pyroscope uses segment trees to store the data.
See our [Storage Design Doc](https://github.com/pyroscope-io/pyroscope/blob/main/docs/storage-design.md) for more context.

![Page2 3](https://user-images.githubusercontent.com/662636/116452030-192a1c80-a

[2021-04-28 18:40] petethepig opened #169 "Pluggable storage"
### Problem

Pyroscope uses [badger](https://github.com/dgraph-io/badger) which is a key-value database. It has good performance but it is operationally harder to use because it requires you to have a disk. It would be great if we could implement support for object storage, e.g AWS S3. This way pyroscope would be easier to deploy, plus it would pave the way for sharding / clustering.

### Proposed

[2021-04-28 18:53] petethepig opened #170 "Create individual documentation pages for each OS + each integration"
Currently our docs mostly just this page with a bunch of different integrations / OSs all in one place: https://pyroscope.io/docs/

In addition to this we should have individual pages for each OS, integration (programming language). 2 reasons for this:
* it's much easier to follow when it's all on one page
* it's much better for SEO

---

For example, here's how Tailscale does it:

![Screen Shot 2

[2021-04-28 19:16] petethepig opened #171 "Create Docs for deb and rpm repositories"
Currently we distribute pyroscope rpm and deb packages but we don't have repositories set up.

### TODO
* [x] set up rpm repos
* [x] set up deb repos
* [x] update release script to update the repos
* [x] put old packages in these repos
* [ ] update docs to reflect the changes

[2021-04-29 20:59] mrowland7 commented on #152
Saw this is fixed in `v0.0.30`, exciting!

[2021-04-29 20:59] #152 closed

[2021-04-30 01:28] petethepig opened #172 "Add support for speedscope format"
We already have support for [a few different formats](https://github.com/pyroscope-io/pyroscope/blob/dotnet/pkg/convert/parser.go#L15-L70), including pprof.

It would be great if we added support for [speedscope format](https://gist.github.com/petethepig/c6041b26002e218ef54e67c5c6f3909a). It's somewhat similar to pprof, but it's json, not protobuf.

### TODO

* [ ] add a new parser method to [pars

[2021-04-30 01:32] petethepig commented on #117
So it looks like default dotnet format (`nettrace`) is hard to parse. I think for now we could use `dotnet trace` with `--format speedscope` argument, speedscope format looks much simpler. Plus if we added support for speedscope format it would also make it easier to create other integrations in the future.

[2021-04-30 01:40] petethepig commented on #160
Hi @zhangdongdong7, we just added support for go heap profiling in version [0.0.30](https://github.com/pyroscope-io/pyroscope/releases/tag/v0.0.30).

[2021-04-30 01:40] #160 closed

[2021-04-30 01:42] petethepig commented on #121
Duplicate of https://github.com/pyroscope-io/pyroscope/issues/153

[2021-04-30 01:42] #121 closed

[2021-04-30 01:42] #153 closed

[2021-04-30 01:45] petethepig commented on #115
@steskalja We're gonna work on this soon, will track progress in #166

[2021-04-30 01:45] #115 closed

[2021-04-30 01:49] petethepig commented on #92
We recently released [v0.0.30](https://github.com/pyroscope-io/pyroscope/releases/tag/v0.0.30) which comes with support for `inuse_objects` and `inuse_space` metrics in Go. Those are very useful for detecting leaks.

[2021-04-30 01:50] petethepig commented on #96
This was implemented in #143

[2021-04-30 01:50] #96 closed

[2021-04-30 02:38] benaadams commented on #117
Also does `--format Chromium` which is the one used by browser tools

[2021-04-30 03:33] #16 closed

[2021-04-30 03:39] Rperry2174 opened #173 "Add Grafana Plugin for Pyroscope"
Many people currently visualize a number of other metrics inside of their Grafana dashboards. We definitely think it would be cool to be able to visualize Pyroscope alongside other tools' data (i.e. Jaeger). We'll likely need to build both a datasource plugin to connect to Pyroscope server and also a panel plugin to visualize the data. You can learn more about those [here](https://grafana.com/docs

[2021-05-03 05:42] guptamitesh opened #175 "Any plans to support play framework for java"
Would be useful if java application can be supported.

[2021-05-03 18:00] petethepig commented on #175
@guptamitesh It's on our [public roadmap](https://github.com/pyroscope-io/pyroscope/projects/1), we'll work on it soon, we'll keep track of the progress in https://github.com/pyroscope-io/pyroscope/issues/94.

I'm not an expert in Java. Is there anything special about play framework that we'd have to handle separately or would just a regular Java profiler like https://github.com/jvm-profiling-tool

[2021-05-04 12:35] kolesnikovae commented on #117
There is one more option to get data from .Net runtime - to use [Diagnostics IPC](https://github.com/dotnet/diagnostics/blob/main/documentation/design-docs/ipc-protocol.md) directly, bypassing `dotnet-trace` tool. This allows us to have more accurate measurements, eliminate some overhead caused by additional serialisation, and be independent of `dotnet-trace` (which is not installed by default). I

[2021-05-04 12:46] benaadams commented on #117
@tommcdon @josalem would this be a good approach?

[2021-05-04 15:36] josalem commented on #117
The CLI tools are (mostly) thin wrappers around the Microsoft.Diagnostics.NetCore.Client NuGet package. That has everything you need to start an EventPipe session (or other diagnostic tasks) without having to spin your own Diagnostics IPC Protocol implementation. As for parsing the event stream, you can use `EventPipeEventSource` from the Microsoft.Diagnostics.TraceEvent package. That has a callba

[2021-05-04 19:01] petethepig commented on #117
@josalem Thanks for the pointers! This is very useful.

@kolesnikovae @benaadams I think we're gonna go with the Diagnostics IPC route for the reasons @kolesnikovae mentioned:
* eliminate some overhead caused by additional serialization
* allows us to have more accurate measurements
* no dependency on `dotnet-trace`

[2021-05-04 22:20] chadbrewbaker opened #176 "ebpfspy is messing with $PATH"
[code]
Upon further inspection it looks like sudo is dropping the ubuntu user's path settings.

[code]

Looks like you might have to do a two step execution to pick up the path of the non-sudo user?

[2021-05-04 22:25] petethepig commented on #176
`sudo -E` should help in this case as it preserves the environment.

[2021-05-04 22:31] chadbrewbaker opened #177 "No --logfile option"
For debug and security reasons I would like a --logfile option that writes the eBPF trace to a file or directory. A sqlite file might be the easiest to do on localhost since a lot is binary protobuf?

[code]

[2021-05-04 22:38] chadbrewbaker commented on #155
Lots is going on in kernel space that is a bottleneck. It makes sense to do whole system eBPF tracing instead of just a few user space PIDs. For C/C++/Rust it's a matter of getting the debug symbols to the visualization server.

[2021-05-04 23:48] chadbrewbaker commented on #176
Does not work even without pyroscope.

[code]

Local box setup:

[code]

[2021-05-04 23:51] chadbrewbaker commented on #176
Another reason why whole system eBPF tracing is nice. No attaching to specific process ids and the pain that goes with getting the pid.

[2021-05-05 18:24] petethepig opened #178 "Implement Command Completion"
This is not super important yet, but it would be cool to have automatically generated `bash / zsh / fish / etc` completion scripts for pyroscope.

I did a brief search, it looks like most people write those manually, e.g here's [Docker's](https://github.com/docker/docker-ce/tree/master/components/cli/contrib/completion) completion scripts. Main downside I see with this approach is that you have to

[2021-05-07 13:02] AulonSal opened #181 "pyroscope server errors out when run as a normal user on Ubuntu/Fedora"
## How to reproduce
Run `pyroscope server` as a non-pyroscope, non-root user after installing the rpm or deb.

### Expected behaviour:
[code]
### Actual behaviour:
[code]

## Reason for incongruity:
`$LOG_DIR` and `$DATA_DIR` are owned by *pyroscope* and have permissions set to 755 but the `pyroscope` binary is run as the current user, who does not have write access to the directories.
https://git

[2021-05-09 07:16] AulonSal commented on #181
My bad, closed by mistake.

[2021-05-09 15:06] LidiyaNorman commented on #48
Hi I'm having the same issue:

Using Mac OS Catalina 10.15.7, Python 3.7.7, installed python with OS, using virtualenv

[2021-05-10 05:42] petethepig commented on #181
@AulonSal Thanks for reporting this, I'll take a look at it soon.

[2021-05-12 01:19] #165 closed

[2021-05-14 14:54] gedw99 opened #184 "Wasm"
I am increasingly compiling golang code to run as wasm using the golang and tinygo compiler

It would be awesome to be able to profile code that is compiled this way .

With tinygo you can’t use reflection or network golang api calls but running in a web worker is fine and how I generally run golang wasm in a browser or IOT device.

anyways I think it’s an interesting use case an challenge.

Here

[2021-05-14 16:36] petethepig commented on #154
I’m thinking, when people run `pyroscope exec python` they should be able to set sample rate, e.g `pyroscope exec -sample-rate 50 python`

Same with the go profiler:
[code]

[2021-05-14 17:20] petethepig opened #185 "Implement TLS support for the server"
Currently if you want to use TLS with pyroscope you'd have to put a load balancer in front of it. We should make it so that you can provide a TLS certificate + private key for the server to be able to support TLS encrypted traffic.

[2021-05-14 23:51] alonlong opened #186 "Change the default storage directory"
[code]
**Problem Description:** When i start the server with normal user, it happens an error like this. I think it's because pyroscope use the '/var/lib/pyroscope' as the default storage directory which needs more permissions for reading and writing.

**Question:** Is it better to change the default storage directory to a normal one like '$HOME/.pyroscope', i think it's better for any user withou

[2021-05-15 12:42] alonlong opened #187 "Add support for pull-method of server"
the pyroscope' agent supports pushing profile data to server, for the long term, i think it's necessary to consider supporting the pull-method for server, just like the prometheus

[2021-05-16 02:00] alonlong opened #188 "Add code line for console log"
now there is no code line information when printing logs, as it's useful for developers to fix issues, also when users feedback question about pyroscope, code line will be very useful~ please consider adding the code line for logs

[2021-05-16 02:04] petethepig opened #189 "Speedup docker builds"
It's currently pretty unoptimized, particularly these lines: https://github.com/pyroscope-io/pyroscope/blob/master/Dockerfile#L77-L92

[2021-05-16 03:16] alonlong opened #191 "Build custom cpu profiler for golang"
Now we use the StartCPUProfile and StopCPUProfile for reading the pprof data, and the default sample rate for runtime is 100 hz, there is no way for us to change and make it affected. So we need to find a way to build the custom cpu profiler for pyroscope.

The possible way is using the following runtime function to read the profile data:

//go:linkname readProfile runtime/pprof.readProfile
func r

[2021-05-16 06:48] alonlong opened #192 "Use the specific config structure for each command"
Now there are different flagsets for different commands, but for each command, it uses a global config structure:

[code]

just like the server command, the function is like this:
[code]

i think it's better to use its own config for each command, the function should be like this:
[code]

[2021-05-16 14:40] ivanyu commented on #94
Hi,

I've been doing some experiments with async-profiler and it preliminary seems possible to use its slightly modified Java agent library to provide stacktraces in some form back to the Pyroscope agent.

I'm planning to continue these experiments and would be happy to contribute to Pyroscope.

[2021-05-17 17:09] petethepig commented on #94
@ivanyu Hi Ivan, this sounds very promising. I would love to talk in more detail about the integration. I reached out over email. Looking forward to talking to you.

[2021-05-17 20:49] petethepig commented on #46
Please add languages you'd like to see here. We're currently working on these translations:
* [x] Chinese
* [ ] Russian

[2021-05-17 20:51] petethepig commented on #50
We changed the way the profiler works in v0.0.30 so this is probably no longer relevant

[2021-05-17 20:51] #50 closed

[2021-05-17 21:04] petethepig commented on #185
Another similar feature @alonlong mentioned is that we might want to provide an option for users to have 2 ports:
* one for web ui
* one for ingestion api

^ this might simplify installation in some environments

[2021-05-17 21:12] petethepig commented on #30
@adrianandreias @arrack @jamesaspence @jnlin @kcloze @knibals @Kortivex @markhuot @Slach @tooolbox @topazas @vearutop

We just released [v0.0.31](https://github.com/pyroscope-io/pyroscope/releases/tag/v0.0.31) with php support. Please try it out, we would love to hear feedback from any of you.

Currently it only works on Linux and the way to start it is by using `pyroscope exec`:
[code]

Or you ca

[2021-05-17 23:59] petethepig opened #193 "[DOC] Add documentation to configuration file"
We could copy the practice of self-documented config files used in [redis](https://raw.githubusercontent.com/redis/redis/6.0/redis.conf). I think this will help new users set up pyroscope faster. It's going to be especially relevant as the number of configuration parameters grows.

We should probably find a way to add these annotations next to the actual go code, so that we can auto-generate it an

[2021-05-18 00:05] petethepig commented on #163
Fixed in #194.

[2021-05-18 00:14] alonlong opened #195 "Different server for ingestion and web ui api"
Now the pyroscope server provides both injestion and web ui api, and it's very easy to install the server. But considering the a lot of applications in a company use the pyroscope agent, and the different security rules for injestion and web ui, maybe it' better to provide different server for injection and web ui~

[2021-05-18 00:15] petethepig opened #196 "Implement RetentionThreshold "auto" mode"
Now that we have #165 and #168 we can combine the two and have an `RetentionThreshold=auto` mode in which when pyroscope server runs out of disk space it starts deleting the oldest data instead of blocking writes.

[2021-05-18 12:21] hiyanxu opened #197 "read tcp [::1]:4010->[::1]:61773: i/o timeout"
Hi, I start the pyroscope server with 4010:
 After running for a while, there was a panic: "nil *Trie".
![image](https://user-images.githubusercontent.com/15027927/118649364-ffc72f80-b815-11eb-951a-6142f4f9b1e7.png)

The ignored err is: read tcp [::1]:4010->[::1]:61773: i/o timeout.
![image](https://user-images.githubusercontent.com/15027927/118649725-664c4d80-b816-11eb-8b4c-d8838280d8db.png)
As s

[2021-05-18 19:27] petethepig commented on #197
So the nil issue was just fixed in https://github.com/pyroscope-io/pyroscope/pull/194.

Are you saying that this issue is caused be the `ReadTimeout`?

Right now I don't understand how `ReadTimeout` is related to the `nil` panic. Can you elaborate?

[2021-05-19 02:10] hiyanxu commented on #197
![image](https://user-images.githubusercontent.com/15027927/118745958-e2cc4400-b889-11eb-83f7-52138df1419e.png)

![image](https://user-images.githubusercontent.com/15027927/118745912-d1833780-b889-11eb-827d-775568d18591.png)
I print the err:
ReadAtLeastErr: read tcp 127.0.0.1:4010->127.0.0.1:63721: i/o timeout
ParseTrieErr: read tcp 127.0.0.1:4010->127.0.0.1:63721: i/o timeout

So, I want to know

[2021-05-19 02:52] alonlong opened #198 "When i configue a wrong format of ServerAddress"
Let's see a code like this:
[code]

After i build and run this code, it happens a panic:
[code]

i think the error is caused by the code, which will return an error when the address is not valid:
[code]

And for the Start function in profiler.go, the code is like this:
[code]

u.Logger = cfg.Logger is the place to cause the panic:
[code]

I think the better code for the Start function should be li

[2021-05-19 05:06] chadbrewbaker commented on #184
https://bellard.org/jslinux/vm.html?url=alpine-x86.cfg&mem=192  even curl works :)

WASM profiling with perf:
https://rustwasm.github.io/book/reference/time-profiling.html

[2021-05-19 05:58] #110 closed

[2021-05-19 06:04] petethepig commented on #28
Fixed in #123

[2021-05-19 06:04] #28 closed

[2021-05-19 06:09] petethepig commented on #177
I don't know if this would be a perfect fit for your usecase but we plan to implement "adhoc mode" in which `pyroscope exec` would not send the data anywhere and instead would just serve the UI from pyroscope exec process itself

Would that fit your usecase?

[2021-05-19 19:11] petethepig opened #201 "Add phpspy coloring"
We need to update the coloring for phpspy. Here's the code for it https://github.com/pyroscope-io/pyroscope/blob/feature/data-retention-in-storage-layer/webapp/javascript/util/format.js#L136-L142

[2021-05-21 01:27] #117 closed

[2021-05-22 00:39] Rperry2174 opened #204 "Add net/http/pprof integration"
We created a public Mattermost server and are profiling it with Pyroscope:
![image](https://user-images.githubusercontent.com/23323466/119209411-51acc700-ba5b-11eb-80a7-2821ec272efd.png)

We shared with the Mattermost team and they had a request that would make Pyroscope easier for them to use:

Similar to #187

[2021-05-22 00:57] petethepig opened #205 "Fix slow tooltip rendering on mouseover"
[Example URL](https://demo.pyroscope.io/comparison?name=hotrod.python.frontend%7B%7D)

![2021-05-21 17 55 48](https://user-images.githubusercontent.com/662636/119209850-eca6a080-ba5d-11eb-9888-cf4d663c5ca0.gif)

[2021-05-22 04:39] alonlong opened #206 "do more performance tests for cache"
Now we use the LFU cache for storage, it needs to do more performance tests to verify if it's the best strategy for cache in this project.

[2021-05-23 21:16] petethepig opened #210 "Make a background persistence thread (write back)"
Currently the only time pyroscope saves data on disk is when it stops or when the cache is overflowing. On large data sets this takes a long time, sometimes over 10 seconds.

Most service managers, e.g `systemd` or `supervisord` have a stop timeout of about 10 seconds. This means that if the process takes more than 10 seconds to stop they SIGKILL the process, leading to data loss.

This problem wi

[2021-05-24 21:55] #201 closed

[2021-05-24 23:43] petethepig commented on #210
We could also improve write performance with:
* concurrent writes (multiple goroutines)
* batched writes

[2021-05-25 16:32] petethepig opened #216 "Explore shared library approach"
Some of the profilers we depend on use `process_vm_readv`, and it's disabled in some environments. We could maybe get around this if we added ability to integrate profilers as shared libraries. Then maybe the profiler could read its own memory. Then you'd be able to integrate by just adding a dependency to your code, something like

[code]

TODO: add more details here

[2021-05-25 22:17] #192 closed

[2021-05-26 00:13] petethepig opened #217 "Implement throttling logger"
This comment explains the issue:

https://github.com/pyroscope-io/pyroscope/blob/f98350dc7a4210e6dee0ebbb8af5c770afbc0de8/pkg/agent/session.go#L108-L112

TODO:
* [ ] implement throttling for the logger (it should generate no more than 500KB of log messages per day)
* [ ] add ability for users to bring their own logger (only relevant for gospy case)

When working on this please be aware that `pkg/a

[2021-05-26 00:39] petethepig opened #218 "Create a benchmark suite"
### Summary

One of the key design goals of Pyroscope is that it is very performant. We need to:
* make sure we don't introduce performance regressions.
* have a way to test performance of new features easily

### Proposed solution

* [x] write an http client that would emulate load from multiple clients. I have a draft of this that I used to test pyroscope in the beginning — we could adopt that s

[2021-05-26 00:45] petethepig opened #219 "Find optimal parameters for RAM cache size"
Once we have a benchmark suite https://github.com/pyroscope-io/pyroscope/issues/218 we should find optimal parameter values for the new RAM cache (https://github.com/pyroscope-io/pyroscope/pull/213)

[2021-05-26 01:47] #191 closed

[2021-05-27 01:22] alonlong opened #220 "create dockerfiles to try build on ubuntu and centos"
The project supports many spies, like pyspy, phpspy, rbspy and so on, these spies are based on c or c++ or rust, it's working when building the project on macos, but always failed on ubuntu and centos, so we need to create dockerfile for checking if it's working on linux system, like ubuntu and centos

[2021-05-28 01:04] petethepig commented on #94
Talked to Ivan yesterday. We decided to go with `async-profiler`.

We're going to distribute the java side of the integration as a jar file that people will be able to add to their applications as a Java agent, here's an example from a [blog post Ivan wrote](https://ivanyu.me/blog/2017/11/04/java-agents-javassist-and-byte-buddy/):
[code]

There are a couple of options when it comes to integrating

[2021-05-29 13:19] AdrK commented on #216
I have been trying to play around with the process capabilities. Using `prctl()` you can change the capabilities of the process. I have written a piece of code in which I have used different ways to modify the capabilities of current process to allow for ptrace'ing it:
[code]

That didn't worked :wink: So I figured that the capabilities are not an issue, especially because this:
[code]
Shows that

[2021-05-29 13:29] AdrK commented on #216
Since this commit ( Docker 19.03 ):
https://github.com/moby/moby/commit/1124543ca8071074a537a15db251af46a5189907
ptrace should work by default.

I will check it

[2021-05-29 19:35] AdrK commented on #49
https://github.com/pyroscope-io/pyroscope/pull/223

[2021-05-30 01:55] chendo opened #224 "Update rbspy version to support newer Rubies"
https://github.com/pyroscope-io/rbspy/ is a tad behind upstream at the moment, with the newest version that pyroscope supports being 2.7.2 whereas upstream is up to 3.0.3: https://github.com/rbspy/rbspy/blob/d81e1dd03be1e8927433a50dd6a41d005fc6e584/src/core/initialize.rs#L495

I had to downgrade to 2.7.2 in our app to evaluate Pyroscope but it looks very handy!

[2021-05-30 16:27] ivanyu commented on #94
I'm inclined towards Option B mainly for:
- its simplicity (less moving parts);
- being well-understood in the Java performance and tracing world (e.g. Datadog, Dynatrace, Elastic APM).

[2021-05-31 02:58] petethepig commented on #224
@chendo Good point. We'll update rbspy version in the next release and I think we'll probably try do that on a regular basis going forward.

[2021-05-31 15:09] AdrK commented on #216
I have found that although ptrace and process_vm_* calls are not working, the direct read from /proc/<pid>/mem is working :)

https://github.com/AdrK/ptrace_test/blob/master/src/test_on_child.c

[2021-05-31 18:05] AdrK opened #225 "Fix issue with additional semicolon in phpspy stacktrace"

[2021-05-31 19:58] chadbrewbaker commented on #94
Agree that virtual heap annotation with standalone executables is best.

You want both the virtual and eBPF traces. On one box you could be running Ruby, Go, and two JVMs all at once. Pyroscope should be able to detect if is a PID is running an application with a known virtual annotator. The detector needs to be customizable; binary path, crunching the command line arguments, analysis of the ELF/m

[2021-05-31 23:58] petethepig opened #226 "Create a liveness check endpoint"
k8s has this feature for services to advertise that they are able to process requests. [Link to documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/)

We should implement this for pyroscope. I think we can just add an endpoint somewhere here https://github.com/pyroscope-io/pyroscope/blob/main/pkg/server/controller.go#L63-L66

[2021-06-01 04:22] petethepig commented on #218
I have a draft of this thing in `benchmark-suite` branch: https://github.com/pyroscope-io/pyroscope/tree/benchmark-suite

[2021-06-01 04:23] petethepig commented on #188
This was done in #214

[2021-06-01 04:23] #188 closed

[2021-06-01 04:27] juligreen commented on #186
Duplicate: [181](https://github.com/pyroscope-io/pyroscope/issues/181)

[2021-06-01 04:27] petethepig opened #228 "Add support for ad-hoc profiling."
Clarify what I'm talking about

[2021-06-01 04:38] petethepig opened #229 "Make pyroscope server expose metrics via prometheus interface"
List of metrics we want to expose:
* memory stats (gauges)
* disk stats (gauges)
* counter for number of ingestions
* counter for number of renders

TODO: we should do research and see what other metrics do other comparable services expose

[2021-06-01 04:39] petethepig commented on #229
I started working on this in https://github.com/pyroscope-io/pyroscope/tree/benchmark-suite branch, but I'm using statsd.

[2021-06-01 05:11] petethepig commented on #224
@kolesnikovae Assigning this to you.

I'm also thinking, could we set up some kind of an automated alert on our jenkins server so that every time there's a new version of phpspy / rbspy / pyspy we get notified in slack?

[2021-06-01 05:14] petethepig opened #230 "Add documentation for helm charts on our website"
We have this repo — https://github.com/pyroscope-io/helm-chart

We'll need some kind of guide on how to use it for our website

[2021-06-01 12:08] qzaidi commented on #154
Using the custom profiler has somehow resulted in all of the cpu profiles vanishing from the display. Memory profiling data does show up.

[2021-06-01 16:46] alonlong commented on #154
can u help to show more details about the problem?

[2021-06-02 08:20] petethepig commented on #164
We could use Prometheus Status pages for inspiration
![Screen Shot 2021-06-02 at 1 19 49 AM](https://user-images.githubusercontent.com/662636/120448666-a21c0280-c340-11eb-9467-388955edfcb1.png)

[2021-06-02 11:01] kolesnikovae opened #232 "Relay POSIX signals in exec"
As of now `exec` unconditionally kills spawned process on receiving `SIGINT` or `SIGTERM`:

https://github.com/pyroscope-io/pyroscope/blob/cfcc0a2ead608a15abfb5699dd0f49886b5afbfe/pkg/exec/cli.go#L179-L205

Instead, we should respect POSIX signals semantics wherever it is possible. I would rather relay those in the same way it is implemented in [go tool](https://github.com/golang/go/blob/dc8f87b74

[2021-06-02 11:44] AdrK commented on #216
At the end of the day it looks like Heroku is even more restricted as it also prohibits access to `/proc/<pid>/mem`. So omitting the seccomp security is not enough. We can make a phpspy work without `--cap-add` and `--security-opt seccomp=unconfined` and use direct read from /proc, but on Heroku it will not be enough.

[2021-06-02 18:47] petethepig commented on #170
@kolesnikovae Yeah, I agree, love this new structure.

[2021-06-03 09:23] hiyanxu opened #234 "Does pyroscope server support the deployment of multiple machines?"
Hello:
We have a monitoring system, which is cluster deployment.
We want to make pyroscope-server work in our system, so the pyroscope-server can support the deployment of multiple machines?

[2021-06-03 23:58] petethepig commented on #164
We should also add a page there where you can delete apps.

[2021-06-04 10:14] AdrK commented on #216
Quick check shows that direct read from /dev/<pid>/mem is possible on Heroku when the read it's done by parent process on itself, or child process.

[2021-06-04 13:44] AdrK commented on #216
Here you can find a test application that works well on Heroku:
https://github.com/AdrK/ffi_test

It is a php script that is loading a phpspy as a shared object library and calls phpspy_init, phpspy_snapshot & phpspy_cleanup passing its own pid as an argument.

It was successfully deployed and ran on Heroku platform.

![obraz](https://user-images.githubusercontent.com/15175440/120810882-b97b0b80-c

[2021-06-04 13:51] AdrK commented on #119
There is still front end to be done, so reopening ;)

[2021-06-05 05:18] qzaidi commented on #154
changed sampling to 20 from 100 hz as it seems profiler had increased cpu usage significantly - this switched it to the custom profiler internally I guess,  and now only alloc and inuse traces are shown, no cpu traces are present.

[2021-06-07 03:22] qzaidi commented on #154
This issue happens always when custom profiler is used. In both cases, the agent seems to be sending the cpu samples correctly to server, but  the server won't display anything except when a sample rate of 100 hz is used.

Here's some example data that is being sent when sample rate is 20

b'\x00\x00\x03\x90\x01github.com/pyroscope-io/pyroscope/pkg/agent.(*ProfileSession).takeSnapshots;github.com/

[2021-06-08 05:10] petethepig commented on #193
I think an even better way of doing this would be to add regular godoc documentation to each field, and then modify this script to pick that documentation up https://github.com/pyroscope-io/pyroscope/blob/main/scripts/generate-sample-config/main.go#L22

[2021-06-09 06:40] petethepig commented on #234
@hiyanxu Not right now but we're working on it :)

[2021-06-09 09:54] linydquantil commented on #226
This is a good idea

[2021-06-09 11:29] AdrK commented on #216
Speed comparision of process_vm_readv versus lseek & read. Looks like direct read is way slower.

![image](https://user-images.githubusercontent.com/15175440/121346574-932be600-c926-11eb-8d0a-6e9673fa83fa.png)

[2021-06-10 23:25] petethepig commented on #154
@qzaidi What's your go version / os? Can you send us the output of running `go env`?

[2021-06-11 14:50] qzaidi commented on #154
This is my local go env (go version 1.15.3 on WSL/Ubuntu) - but I have observed this issue both locally and also on a linux server.
 go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/qasim/.cache/go-build"
GOENV="/home/qasim/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOINSECURE=""
GOMODCACHE="/home/qasim/go/pkg/mod"
GONOPROXY=""
GONOSUMDB="[redacted]"
GOOS="

[2021-06-15 20:39] petethepig opened #240 "Pyroscope Process Lifecycle Refactoring"
* [ ] move to cobra
* [ ] standardize Exec functions in cli package
* [ ] remove Cli related things from domain packages
* [ ] move flags stuff to a separate package
* [ ] move Server / Agent / Convert configs out of config package
* [ ] split configs between CLI / domain logic
* [ ] get rid of global logger
* [ ] do more tests for cli interface

[2021-06-15 21:25] petethepig opened #241 "Explore memory profiling in .NET"
We recently added support for .net profiling (#117). We should start doing the research needed to add memory profiling for .net.

[2021-06-15 21:34] Rperry2174 opened #242 "Add VS Code Extension for Pyroscope"
We've had a couple of people mention that they would be interested in a VS Code extension for Pyroscope (i.e. Hacker News comment [here](https://news.ycombinator.com/item?id=26485382))

We've also seen a couple of implementations where people integrate profilers as a plugin/extension to other IDEs (i.e. this intelliJ plugin [here](https://github.com/SerCeMan/franky))
![image](https://user-images.g

[2021-06-16 18:32] petethepig commented on #162
TODO:
* [ ] change dictionary to be per app, not per segment
* [ ] run some tests, see how bad performance gets with a lot of tags. (how does it perform with a million tags?)
* [ ] find a way to address performance issues (sampling?)
* [ ] make sure we expose all the endpoints needed to make tags work on the frontend
* [ ] write something in docs
* [ ]

Frontend TODO:
* [ ] add support for tags to

[2021-06-16 19:26] #226 closed

[2021-06-17 08:08] #168 closed

[2021-06-17 08:56] #224 closed

[2021-06-17 18:46] #170 closed

[2021-06-18 15:30] AdrK opened #247 "performChecks is not effective when spy is run by non-root user"
We have a check that is verifying, among others, if system has trace capabilities. If we run the Dockerized example for Ruby (without `--cap-add=SYS_PTRACE`), as it is, we get expected outcome:

[code]

But, if I add this to the Dockerfile:
[code]

The check is not performed, and ofc app crashes later:
[code]

[2021-06-18 15:32] AdrK opened #248 "Examples should run spies as non-root users"
In most cases, users will be running the spies without root privileges. At this moment, all our examples run spies as a root.

[2021-06-18 17:21] petethepig commented on #247
Hopefully we can get around this limitation soon (see https://github.com/benfred/read-process-memory/pull/9), so we'll be able to drop these checks altogether.

[2021-06-19 02:44] petethepig opened #249 "Benchmark Suite v2"
### Context

A lot of people are asking about various performance characteristics of pyroscope. Common asks include:
* how many individual clients can one server support?
* how much does pyroscope agent affect performance? How much extra memory do I need to provision per pod for pyroscope agent?

We did some of this testing about 6 months ago and came up with the 1-2% number that we quote for agen

[2021-06-21 21:06] Rperry2174 opened #253 "Notify people when new Pyroscope versions are available"
Whenever we release a new version we would like to make sure that people are aware of that and are notified to upgrade to the new version.

We could do this either or both of these ways:
- [ ] In the terminal when Pyroscope server is started / restarted
- [x] On the frontend whenever the version becomes out of date

[2021-06-22 00:12] #248 closed

[2021-06-22 02:39] #232 closed

[2021-06-23 04:18] petethepig opened #257 "Fix double render issue"
### Problem

Currently the frontend makes 2 requests every time you refresh the page, one for timeline component and one for flamegraph component. We should change it to make sure it only makes 1 request.

![67b8efde-24f5-4a40-bf10-1abb53cc03fd](https://user-images.githubusercontent.com/662636/123034858-335e2200-d39f-11eb-9e7e-01ec6f0cc1f7.gif)

### Other Considerations

It's fine to make 2 calls

[2021-06-23 05:32] petethepig opened #258 "Automatically group nodes with similar names"
### Problem

There's this common issue where a program would generate function names dynamically, usually with a common prefix, e.g `conn_1234` or `html_slim_123123123123`. This generates a huge amount of extra nodes that should ideally be grouped into one.

So far we've seen it in 2 places:
* mongodb stacktraces (each connection is wrapped in a `conn_123` function)
* rails slim templates (see scr

[2021-06-24 02:23] JasonkayZK opened #260 "Will pyroscope record docker env itself or host env included?"
I'w wondering whether pyroscope can record  the host env beyond its own container?

And thanks for all your hard work!  ❤️

[2021-06-24 12:23] kolesnikovae commented on #162
I've prepared [a basic benchmark](https://github.com/pyroscope-io/pyroscope/blob/tags-benchmarks/pkg/storage/cardinality_test.go) for throughput. As a reference I measured `Put` and `Get` throughput with no tags for a single application:
[code]
Here 6270 and 33836 is `Put` and `Get` op/s, respectively. The database is populated with 25k samples for `Get` benchmark.

----

The next measurement is f

[2021-06-24 20:03] petethepig opened #262 "OAuth Authentication"
### Problem

Currently there's no authentication mechanism in pyroscope. Users are asking about it and we need to add something soon.

### Proposed Solution

I'm thinking we could implement OAuth relatively quickly. There's [golang.org/x/oauth2](https://pkg.go.dev/golang.org/x/oauth2) module that provides OAuth functionality.

There's also https://github.com/dghubble/gologin which seems to combine

[2021-06-24 20:04] petethepig opened #263 "Sign In Page"
We need a sign in page for [authentication feature](https://github.com/pyroscope-io/pyroscope/issues/262). We could use Grafana's page for inspiration.

![Screen Shot 2021-06-24 at 12 29 47 PM](https://user-images.githubusercontent.com/662636/123322591-55fc5200-d4e9-11eb-8317-4bfbcf78ff7a.png)

[2021-06-25 18:15] petethepig opened #264 "Find a way to partition segment trees"
### Problem

If you insert 1 year of profiling data that will generate 3,504,000 segment tree nodes. It's not bad per se, but it creates this problem where serialization / deserialization of these trees now takes up a lot of time.

![Screen Shot 2021-06-25 at 10 36 40 AM](https://user-images.githubusercontent.com/662636/123464088-3c1e4600-d5a1-11eb-9e53-5de291dbb1b9.png)

### Solutions

#### Step

[2021-06-28 05:47] a-donskoy commented on #262
Would be nice to get some different levels of permissions or option to choose which user or team (for example github one) should have access to which type of data or project. It will cover cases when multiply teams working on different projects which we expose on  a same pyroscope setup

[2021-06-28 14:37] kolesnikovae commented on #264
To my understanding, during writing the data to a segment, we need only the last node for every level. I'm wondering could the level 3 be a good choice for us.

[2021-06-29 01:42] petethepig opened #268 "Open Source our Grafana dashboard"
We expose prometheus metrics in pyroscope, it would be cool to share this dashboard with people:
![Screen Shot 2021-06-28 at 6 42 38 PM](https://user-images.githubusercontent.com/662636/123724114-9e48a680-d840-11eb-9dec-e5e2b927ba20.png)

[2021-06-29 23:40] petethepig opened #269 "Unify frontend code between pyroscope and grafana plugin."
### Problem

Currently FlameGraphRenderer component exists in both pyroscope repo and grafana-plugin repo. We should dedup it so that we only have one copy.

### Solution

I propose we keep it in this (pyroscope) repo and then import it from the grafana plugin.

[2021-06-30 17:24] petethepig commented on #218
This is v1 and it's pretty much done, gonna track further process in #249

[2021-06-30 17:24] #218 closed

[2021-07-01 19:00] #173 closed

[2021-07-01 21:02] #176 closed

[2021-07-01 21:02] #163 closed

[2021-07-02 04:58] Slach commented on #173
@petethepig sorry for the question, is this feature implemented or not?

[2021-07-06 01:46] #205 closed

[2021-07-06 12:12] slonka commented on #8
Some time ago I did a summary on NodeJS profilers: https://github.com/slonka/nodejs-production-ready-profiling - things might be outdated but you might find some useful info there.

[2021-07-06 23:31] Rperry2174 opened #273 "Create UI for Login Page"
Login page is being created here #262 and we will need a frontend for this. Here's an example from Grafana:
![image](https://user-images.githubusercontent.com/23323466/124678505-7fb56180-de77-11eb-887b-f4bbefd01c0c.png)

We'll need something along these lines but consistent with style from Pyroscope

[2021-07-09 22:52] petethepig commented on #95
First thing we need I think is a Diff function in `tree` package. It should take 2 trees and subtract values of one tree from the other one. I think it's gonna be pretty similar to the existing merge function:

https://github.com/pyroscope-io/pyroscope/blob/main/pkg/storage/tree/tree.go#L63

[2021-07-11 04:18] olvrng commented on #95
I think there is another option for drawing diff, as described in this [gist](https://gist.github.com/gelisam/f64934146a31194d71e2883c24f4c879) by [gelisam](https://github.com/gelisam).

- Option 1: Red/Blue
  Draw the structure with shape and size as the second profile, then use color to display the difference.

- Option 2: Negation
  Draw the structure with shape and size as the first profile, t

[2021-07-12 22:38] Rperry2174 opened #278 "Add Ebpf example for examples folder"
We have examples in our [examples folder](https://github.com/pyroscope-io/pyroscope/tree/main/examples) for
- golang
- Python
- Ruby
- Php
- Dotnet

But no example for [eBPF](http://localhost:3000/docs/ebpf) which is the only language that we support which doesn't have an example in that folder.

[2021-07-13 08:19] AdrK opened #279 "libpyroscope.pyspy.a is missing the definitions from rustdeps library"
For some reason, libpyroscope.pyspy.a is missing the definitions from rustdeps library:
![image](https://user-images.githubusercontent.com/15175440/125284514-cf81a600-e319-11eb-969b-a6d3d4a3af89.png)

Same here: https://github.com/AdrK/pyspy_so/blob/master/Dockerfile

This has to be investigated. Maybe some issue in cgo itself?

Note that the .so, which is compiled with only the c-archive changed

[2021-07-14 09:40] hiyanxu commented on #154
The same problem happen with me.
Change sampling with 10、20、50、100 hz, only 100hz can display CPU profiles.
![image](https://user-images.githubusercontent.com/15027927/125600395-023f3554-1f4c-45b5-ba7b-14d85a442489.png)

[2021-07-14 17:28] Rperry2174 opened #281 "Create UI for using Tags"
We are creating backend for tag support in #280. We also need a frontend that will allow users to drill down past just application name and look into specific tags for an application.

Over time we will likely expand the _types_ of queries that can be made with tags and possibly even coming up with a (simple) Pyroscope specific query language that matches up with the way we store data in our stora

[2021-07-14 17:46] petethepig commented on #281
@Rperry2174 Can you please send us a docker compose file so that we could play with this Loki + Grafana setup?

[2021-07-14 21:38] Rperry2174 opened #282 "Support Laravel for PHP users"
Reposting suggestion from conversation in Slack about adding support for using Pyroscope with Laravel:

1. add a pyroscope scope to https://github.com/laravel/sail/tree/1.x/stubs
2. make it easy to run laravel with pyroscope

A development server can be started with php artisan serve
Maybe you could a a flag that looks something like: php artisan serve --pyroscope

References:
- https://www.blackf

[2021-07-15 12:06] hiyanxu commented on #234
Ok, thank you.

[2021-07-15 18:56] petethepig opened #285 "Add ability to log to a file for pyroscope server"
Currently we only support logging to stdout. Some people have been asking for support for logging to a file.

TODO:

* [ ] add a `LogPath` flag to config.go https://github.com/pyroscope-io/pyroscope/blob/main/pkg/config/config.go#L52
* [ ] add logic that will write to that file if LogPath is set

[2021-07-15 22:28] Rperry2174 opened #286 "Add Ability to Sync Search Bar in Comparison View"
Currently our comparison creates two flamegraphs that correspond to two different time ranges in their respective timelines. A common use case for this view is to compare two profiles from two time periods to debug an issue.

This often means that someone will be noticing a statistically significant difference in a particular functions presence on flamegraph vs another flamegraph. Using our demo y

[2021-07-15 22:54] #119 closed

[2021-07-15 22:57] Rperry2174 opened #287 "Add Frontend UI / Endpoint for Deleting apps"
In #119 we added the ability to delete apps from the Pyroscope storage engine. As of right now this is purely done through the backend, but what we should enable is the ability for people to delete apps via a UI on the frontend.

This will likely mean that we need to have a page that simply lists all of the apps that contain data in the Pyroscope backend and give the ability to simply delete them.

[2021-07-16 19:27] yashrsharma44 commented on #169
Since Grafana Tempo has changed it's license to AGPL - https://github.com/grafana/tempo/tree/main/tempodb we might need to try out something else for a DB.

[2021-07-18 05:51] yasharne opened #291 "Add storage based retention"
Hi
as our services start sending their information to the `pyroscope server` we will face a storage problem although time-based retention is enabled.
is it possible to also have storage-based retention so that we can always send new information to the server?

[2021-07-19 05:53] #262 closed

[2021-07-19 22:52] petethepig opened #292 "Add a 404 page to pyroscope"
We need to have something prettier than this
![Screen Shot 2021-07-19 at 3 52 20 PM](https://user-images.githubusercontent.com/662636/126237514-d81efeca-c7d9-44eb-b176-2f4856741bc9.png)

It should have a button to go back to main page.

[2021-07-20 17:21] petethepig commented on #249
We could also look at https://github.com/grafana/k6 too for benchmarking

[2021-07-22 09:50] hiyanxu opened #294 "periodicTask take up a lot of CPU time."
![image](https://user-images.githubusercontent.com/15027927/126619675-ac895823-7c88-4a5b-9cc3-4b2d762a7d56.png)
The pyroscope will take up a lot of CPU time when I start up the pyroscope-server.
By CPU ppof I found that periodicTask take up a lot of CPU time.
How can it be optimized?

[2021-07-22 10:56] kolesnikovae commented on #294
Thank you for reporting the issue!

Badgerdb GC call may be quite expensive. Recently, we made some improvements that should alleviate this problem, but those have not been released yet.

Could you please clarify the following:
 1. Pyroscope version.
 2. DB size on disk (e.g. `du -sh`).
 3. What is the pyroscope server CPU usage from OS perspective (%)?
 4. Does the problem persist during the serv

[2021-07-22 11:17] hiyanxu commented on #294
We integrated the pyroscope-server  into a platform called bianque.
So the pid of bianque is:
![image](https://user-images.githubusercontent.com/15027927/126629799-ead8ac62-af83-4fdc-a14c-178c7f0d09d0.png)

Pyroscope version: lastest branch main

DB size on disk:
![image](https://user-images.githubusercontent.com/15027927/126629278-a840ff65-a60c-4f48-b734-b86fa45d9bbd.png)

CPU usage：
The machine

[2021-07-22 11:58] hiyanxu commented on #294
Is this a bug? Why call RunValueLogGC in infinite loop?
![image](https://user-images.githubusercontent.com/15027927/126633004-a8097dfb-6c95-4174-862a-7293da52b0d4.png)

When i delete the infinite loop(for{}), the CPU pprof is:
![image](https://user-images.githubusercontent.com/15027927/126635498-4b2e477b-1ba5-4b2e-9a8a-d26048f2af26.png)

[2021-07-22 12:33] kolesnikovae commented on #294
Thank you for the info, it's very useful.

Regarding the code snippet – this should not be a problem and the loop is not supposed to be an infinite one:
[code]
And from [the official documentation](https://dgraph.io/docs/badger/get-started/#garbage-collection):

Thus, once all value log files are GC'ed, the `badgerGCTask` call returns. Deleting the loop effectively disables GC (almost), which lead

[2021-07-23 02:03] hiyanxu commented on #294
pyroscope version: v0.0.35
config:
![image](https://user-images.githubusercontent.com/15027927/126729534-e1d66e45-dacf-4c6e-b310-b21d617b7f7c.png)

Thanks again for your attention!

[2021-07-23 12:22] kolesnikovae commented on #294
Thank you! What caught my eye is that cache eviction options are set to 0 – this may cause OOM kill. Defaults are:
[code]

I suspect that badger GC consumes so much CPU time because of too many badger key versions are created for cached items. Upcoming release (0.0.36) brings changes to LFU cache and persistence model, it should fix the issue. Before the release you can verify if the problem persi

[2021-07-23 21:31] Rperry2174 opened #298 "Add Alerts to Pyroscope (via Prometheus)"
We'd like to incorporate Prometheus into Pyroscope to enable users to start collecting metrics related to a particular function/node or a set of functions and their metrics over time.

This will allow for users to not only get an extra view they can use to understand their applications performance. We already have an issue #229 about some other metrics we'd like to support for prometheus and start

[2021-07-24 05:00] gogi2811 commented on #273
is the UI/UX with respect to Pyroscope Design guidelines ready ?

[2021-07-24 07:03] Rperry2174 commented on #273
Actually I believe @petethepig made a first attempt at this... Can you post a picture @petethepig ?

[2021-07-24 07:08] Rperry2174 commented on #273
Ah just realized this is a duplicate of #263 closing and moving discussion to there

[2021-07-24 07:08] #273 closed

[2021-07-24 07:09] Rperry2174 commented on #263
Hey @petethepig is this still in progress? @gogi2811 asked in #273

[2021-07-24 13:12] hiyanxu commented on #294
Thank you. I'll try.

[2021-07-25 08:55] hiyanxu commented on #294
Thanks for your answer, I tried it.
It was effective at the beginning, but the next day I found that it took up a lot of CPU, even more than 200%.
I observed CPU pprof. The func runtime. gcBgMarkWorker is max.
![image](https://user-images.githubusercontent.com/15027927/126893273-bc7c04e6-064e-4365-88b7-9e10a717c02b.png)
I looked further at the number of memory inuse_objects, ingestHandler produced

[2021-07-26 11:53] kolesnikovae commented on #294
Thank you @hiyanxu, I very appreciate your help!

I observed CPU pprof. The func runtime. gcBgMarkWorker is max.

I'm wondering if such a high utilisation is observed periodically or is constant. In Go, GC takes up to 25% of CPU, so that would mean that GC works all the time.

This is fine. Apart from data ingestion and queries, there should be no other causes for allocations.

----

Can we take a

[2021-07-26 12:01] hiyanxu commented on #294
Ok, thank you.
The first question:

It grows gradually.
More specific information, I'll provide it tomorrow.

[2021-07-26 15:06] kolesnikovae commented on #294
The number of GCs is definitely abnormal. Is it possible that GC is invoked explicitly (`runtime.GC()`) in the code?
[code]

Can I also take a look at `pyroscope.server.alloc_space` profile (from Pyroscope UI)? I was trying to reproduce the issue but couldn't. How many clients do you have?

[2021-07-26 17:55] Rperry2174 commented on #38
As a starting point I think we should add a button with a dropdown arrow something like this:
![image](https://user-images.githubusercontent.com/23323466/127035511-fdc9abb3-6d1a-4720-8f02-d9b87cdddcf9.png)

Then when a user clicks on the dropdown arrow they should be able to see a dropdown with the most recently selected time ranges:
![image](https://user-images.githubusercontent.com/23323466/1270

[2021-07-27 03:32] hiyanxu commented on #294
GC is not invoked explicitly in the code.
`pyroscope.server` profile was disabled.

How many clients: Just one.

**But more importantly, over time, the agent takes more and more CPU times.**
We have three servers. `basic-exp-logic1` and `basic-exp-logic2` was profiling by  pyroscope, it consumes more CPU.
![image](https://user-images.githubusercontent.com/15027927/127090432-aa2843e4-9f9f-4aeb-bd78

[2021-07-27 12:20] kolesnikovae commented on #294
Hi @hiyanxu, I'd like to let you know that I refactored some of problematic functions: https://github.com/pyroscope-io/pyroscope/pull/303 - the work is ongoing, thank you for your help! :)

Regarding `takeSnapshots`: its performance mostly determined by the runtime: the more go routines exist and the bigger the heap, the more CPU time `takeSnapshots` call takes. However, the PR above should improv

[2021-07-27 13:53] hiyanxu commented on #294
Ok, thank you for your attention!
I'll try to find a solution again about `takeSnapshots`.

Thanks again.

[2021-07-27 18:22] Rperry2174 opened #304 "Add ability to view "head" or "tail" of functions in Flamegraph / Table"
When looking at flamegraphs like this one:![image](https://user-images.githubusercontent.com/23323466/127207386-ee66a743-5cd2-49ba-aa3a-426a1ab58018.png)![image](https://user-images.githubusercontent.com/23323466/127204299-bc167b05-159d-4498-8d11-b2d16c030700.png)

Its not very useful to see this portion of the function name. It would be more convenient if there were some kind of ability to contro

[2021-07-27 22:21] petethepig opened #305 "Make sidebar items actual links so that they can be opened in new tabs"
This gif illustrates the problem. On github you can right click and open links in new tab, in pyroscope you can't do that.

![2021-07-27 15 20 02](https://user-images.githubusercontent.com/662636/127234967-6b3976a5-3eab-4b1f-9302-05d6ba315d5a.gif)

[2021-07-28 11:04] kolesnikovae opened #306 "Fix high CPU consumption caused by garbage collection"
The problem is that pyroscope server may allocate too many objects on the heap depending on the cache eviction options. This causes significant increase of CPU consumption by Go GC over time.

Related issues:
 - https://github.com/pyroscope-io/pyroscope/issues/294

For example, a server instance which heap reached about 300M of objects (most of them are `*segment.streeNode` and `*tree.treeNode`) f

[2021-07-28 11:22] kolesnikovae commented on #294
I created a separate issue regarding Go GC CPU consumption https://github.com/pyroscope-io/pyroscope/issues/306. There is a way to temporary workaround the problem:

The initial problem with Badger GC CPU consumption fixed in 0.0.36 (not released yet), this issue is to be closed after the release.

[2021-07-28 11:24] kolesnikovae opened #307 "Pyroscope agent high CPU consumption"
A separate issue for the problem revealed in https://github.com/pyroscope-io/pyroscope/issues/294.

----

**But more importantly, over time, the agent takes more and more CPU times.**
We have three servers. `basic-exp-logic1` and `basic-exp-logic2` was profiling by  pyroscope, it consumes more CPU.
![](https://user-images.githubusercontent.com/15027927/127314544-7121d908-7d2c-4611-9ab8-66e6123fac6

[2021-07-28 11:38] hiyanxu commented on #307
Hi,
  Could you replace the first picture with another picture? Because I made some mosaics in original picture of #294 .

Thank you very much!😁

[2021-07-28 11:49] kolesnikovae commented on #307
@hiyanxu, thank you for reporting the issue! I'd like to clarify the version of Pyroscope Agent and Go you run.

Also, continuing our previous discussion, did changes in # 303 help in any way?

[2021-07-28 12:55] hiyanxu commented on #307
@kolesnikovae
The version of Pyroscope Agent and Go:
    Pyroscope Agent: v0.0.35
    Go: go1.14.15

Because it's a production environment, I can't try it casually, so I'm not sure whether it's effective.
Sorry~

[2021-07-29 13:53] kolesnikovae opened #310 "Fix "Label not found" bug"
In 0.0.34 we changed dictionary key format from normalized segment key (e.g, `app.name{foo=bar}`) to just app name. See [Ignore tags at dictionary lookup (#245)](https://github.com/pyroscope-io/pyroscope/pull/245) for details.

Backward compatibility logic was to check both keys when a dictionary is loaded from disk to cache: if app name key exists, use the found dictionary, otherwise lookup the d

[2021-07-30 13:03] kolesnikovae commented on #307
@hiyanxu, could you please confirm if the issue persists with default `SampleRate`? Unfortunately, I didn't manage to reproduce the problem. Is there anything special with the profiled application?

[2021-08-02 19:49] petethepig opened #312 "Have a UI element that would indicate issues with the server"
E.g right now when the server is out of storage nothing would tell the user that this is a problem.

[2021-08-03 00:44] Rperry2174 commented on #249
also this might be overkill, but there may be something useful in timescales benchmarking suite that compares it to other dbs: https://github.com/timescale/tsbs

[2021-08-03 00:49] #310 closed

[2021-08-03 15:10] #294 closed

[2021-08-03 16:25] kolesnikovae commented on #294
We've released v0.0.36 with the fix and some optimizations that should resolve https://github.com/pyroscope-io/pyroscope/issues/307.

@hiyanxu, could you please confirm that the initial problem is solved.

[2021-08-03 19:41] Rperry2174 commented on #94
Added Java agent: https://github.com/pyroscope-io/pyroscope-java

Todo:
- [ ] Add a build pipeline
- [ ] documentation

[2021-08-04 07:47] arunthamma opened #316 "Memory profiling on python"
Hi,

I have started using pyroscope for profiling cloud applications developed using **python** and it's fantastic. Currently I see that we are only profiling CPU. Can I get some information on integrating memory//io profiling with pyroscope.

Regards.

[2021-08-04 12:12] sujit-baniya opened #317 "[Bug] - Unable to upgrade to 0.0.36"
[code]

[2021-08-04 12:41] kolesnikovae commented on #317
Hi @sujit-baniya! Thanks for reporting the issue. Indeed, v0.0.36 is not go gettable – there is a problem with replaced dependency. Could you please check if the following fix helps:
[code]

[2021-08-04 14:51] sujit-baniya commented on #317
@kolesnikovae Yes this branch is working

[2021-08-04 19:00] #317 closed

[2021-08-06 19:29] Rperry2174 opened #320 "Highlighted sidebar item can be out of sync with route"
Sometimes its possible for the sidebar to out of sync with the current route. To reproduce:

1. Select single view
2. Select comparison view
3. Hit "back" button

![out-of-sync](https://user-images.githubusercontent.com/23323466/128562181-eb2aaea3-c243-495a-b61f-d064ebe7f7ec.gif)

[2021-08-06 19:36] Rperry2174 commented on #95
closed in #289

[2021-08-06 19:36] #95 closed

[2021-08-06 19:41] Rperry2174 opened #321 "Separate 'comparison' endpoint from 'diff' endpoint"
In #289 we added Diff rendering to be able to show the diff between two flamegraphs. Currently this diff is consolidated into one endpoint. This will become harder to maintain over time. See this comment for more information:

https://github.com/pyroscope-io/pyroscope/pull/289#discussion_r675988905

[2021-08-06 19:51] Rperry2174 opened #322 "Find better color / UI for showing diff in tables"
In #289 we added Diff rendering which makes it easier to show the "diff" between two flamegraphs. This includes two parts:

1. Flamegraph diff
2. Table

In the flamegraph diff, the three main colors are:
- Red which signifies an _increase_ (in time or space)
- Green which signifies an _decrease_ (in time or space)
- Grey which signifies no change

However, for the table we introduce a new color, o

[2021-08-06 20:21] Rperry2174 opened #323 "Reorganize components on diff page"
In #289 we added a V1 of diff rendering. The functionality was very complicated so we focused this first version on just getting something usable. However, for those not familiar with flamegraphs I don't think this view is very "intuitive".

This issue has a couple of suggestions that might help with this, along with a few styling tweaks/cleanup.
In the comparison view page, we add each element to

[2021-08-06 20:39] Rperry2174 commented on #291
Hi @yasharne thanks for reporting this, we have also seen a some instances where this would be useful to have for Pyroscope. I've added it to our roadmap and we'll start looking for someone to help contribute to this.

Let us know if you run into any other issues or have any other requests!

[2021-08-08 02:30] hiyanxu commented on #294
I'm sorry to tell you that I can't continue the original project because of some changes in my work.
I have communicated with my original colleagues. If they continue the project, I will inform you whether it is effective.
Sorry~

[2021-08-10 07:08] yashrsharma44 opened #326 "Adding make help in Makefile"
Hi Pyroscope Community!

I was starting to install **pyroscope** for developing it in my local machine and had this question before. Can we have a `make help` command that could list out all the `make` commands? Although the docs page has them listed out, it would be great to have it on the terminal itself.

I can add in a PR for this, no issues with that, just wanted to cross-check if the change

[2021-08-10 07:46] yashrsharma44 commented on #326
Attaching an output for more info -
[code]

[2021-08-10 18:23] yashrsharma44 commented on #326
Great, I will send in a PR then!

[2021-08-10 19:48] #326 closed

[2021-08-10 21:53] petethepig commented on #196
This is basically the same feature described here https://github.com/pyroscope-io/pyroscope/issues/291

[2021-08-11 00:59] petethepig opened #332 "Make prometheus metrics follow naming conventions"
Link to naming conventions: https://prometheus.io/docs/practices/naming/

Minimally we should do things like:
* [ ] add `pyroscope_` prefix
* [ ] add proper suffixes, like `_total` or `_bytes`
* [ ] add tags where appropriate, e.g for badger metrics we should have `trees` and `segments` be tags, not parts of the name

---

This would also be a good time to get rid of `metrics` package I think.

--

[2021-08-11 08:18] petethepig commented on #253
This is somewhat related to the second one: https://github.com/pyroscope-io/pyroscope/pull/333

[2021-08-11 22:28] eh-am commented on #332
BTW

would be nice to add this prometheus metrics linter
https://github.com/yeya24/promlinter

it can be integrated with golangci-lint (yeah I know we are using revive, although it can be added to golangci-lint, see https://github.com/mgechev/revive#golangci-lint)

but anyway, to get the linter working it seems we would need to change/remove the `metrics` package, since the linter seems to expect

[2021-08-12 10:36] petethepig commented on #332
@eh-am this is a great idea, I think we should remove metrics package and then we can add the linter

[2021-08-13 21:48] Rperry2174 opened #336 "Diff table bars overflow / cut off on some items"
In this picture, even though the left column is supposed to be sorted in descending order (by the red portions of each bar) you can see that the second bar shows no red. This likely is because the bar is overflowing and getting part of it cut off:
![a](https://user-images.githubusercontent.com/23323466/129421458-514f5866-5d99-41ce-b8f0-8d13fa2125cf.png)

@olvrng offered the following as a potentia

[2021-08-14 00:18] Rperry2174 opened #337 "Add Tooltip for Table"
Right now hovering over items in the table doesn't give any useful information, but @olvrng brought up that especially for the diff view a tooltip would be very useful for the table.

We _might_ be able to separate the tooltip into its own component and somehow share it for the table and the flamegraph. I'm not sure how this will work dealing with the `<canvas>` element for the flamegraph and with

[2021-08-16 14:31] yashrsharma44 commented on #321
As far as I understand from reading the codebase and the comments -
* Comparison Endpoint - Uses `render/` API endpoint for rendering the table
* Diff Endpoint - Uses `render-diff/` API endpoint for rendering the diff between to tables.

Since both the views use different endpoints, we dont need to break down the API endpoints, as it is already done( For comparison page we have `render` endpoint,

[2021-08-16 16:33] kolesnikovae commented on #321
@yashrsharma44 That's right - `render-diff` was implemented in #289.

Sounds good to me. I think we could add support for `POST` with the specified payload structure and then optionally deprecate `GET`. Given that this is not a public API, I believe it won't cause any issues: the only external client is Grafana panel plugin, which does not support diff view yet AFAIK.

[2021-08-16 17:16] Rperry2174 commented on #321
I agree with @kolesnikovae and can confirm we don't need to worry about Grafana plugin diff view yet

[2021-08-16 18:00] yashrsharma44 commented on #321
Sure, thanks for the clarification 💯

[2021-08-20 05:07] petethepig opened #342 "Serve assets gzipped"
I think pyroscope should serve assets gzipped

[2021-08-23 14:05] AdrK opened #344 "Overall system test"
TBD

[2021-08-23 17:01] #321 closed

[2021-08-24 15:56] eh-am commented on #229
In https://github.com/pyroscope-io/pyroscope/pull/347 we are added a histogram per handler, which also exposes a counter. For example:

[code]

Apart from that we are also tracking disk stats
[code]

and memory stats (both manually and metrics exposed via the go client)

[2021-08-24 17:30] petethepig commented on #229
Thank you @eh-am for your great work on prometheus metrics and dashboards!

[2021-08-24 17:30] #229 closed

[2021-08-24 21:43] petethepig opened #348 "Implement out of space notification"
We already have support on the frontend https://github.com/pyroscope-io/pyroscope/pull/334

Now we need to add backend part that will notify users about things like lack of disk space

[2021-08-25 08:12] yasharne opened #350 "Handle badgerdb panic"
I don't know what to put as the issue title as the exception on the pyroscope is not telling me more information. I got this exception on the `pyroscope server`:
[code]
deleting the pyroscope pod didn't solve the problem, only deleting the PVC fixed it. Here is my configuration file:
[code]
I was using version `0.0.34` and upgrading it to version `0.0.37` didn't fix it as well

[2021-08-25 09:59] kolesnikovae commented on #350
@yasharne Thank you for filing the issue. If you run pyroscope server in Kubernetes with persistence, please make sure pod security context `fsGroup` is set to `101` so that [it matches user ID](https://github.com/pyroscope-io/helm-chart/tree/main/chart/pyroscope#persistence) in the official docker image.

I think that this failure should be handled properly on the pyroscope server end. And it als

[2021-08-25 18:57] Rperry2174 opened #351 "Main timerange can be out of sync with left/right timerange in comparison view"
For a link like:
https://demo-dev.pyroscope.io/comparison-diff?from=now-3h&leftFrom=1629903637&leftUntil=1629907169&rightFrom=1629907169&rightUntil=1629910305

![image](https://user-images.githubusercontent.com/23323466/130848289-4aa14aaa-0d61-4dc6-8dc3-0deccc620001.png)

We run into an issue:
- The main timerange (`from=now-3h`) is dynamic
- the "left" timerange (`leftFrom=1629903637` and `leftUn

[2021-08-26 22:41] petethepig opened #355 "Optimize bundle size"
If you run webpack in watch mode and open localhost:8888 you can see the breakdown between different libraries. It looks like this right now:

![Screen_Shot_2021-08-26_at_3_37_57_PM](https://user-images.githubusercontent.com/662636/131045101-5f67e9e9-f8d2-4510-9c2c-fee0fe9a9dcf.png)

I think a lot of these would be easy to fix by just adjusting the way we import things, e.g here's an issue in font

[2021-08-26 23:34] petethepig opened #356 "Add e2e tests (cypress)"
This is a placeholder for e2e tests

[2021-08-27 17:30] eh-am opened #361 "memory overhead of adding pyroscope integration"

[2021-08-27 17:56] #361 closed, assigned to nobody

[2021-08-30 07:03] petethepig commented on #133
Implemented in #340 Thank you @ayeniblessing101 !

[2021-08-30 07:07] gawicks commented on #342
Hi it's @petethepig it's @gawicks from slack. Please assign me to this issue.

[2021-08-30 07:10] petethepig commented on #342
Done. Thanks for the help, it's much appreciated!

[2021-08-30 23:11] petethepig commented on #240
Some of it was done in #300

[2021-08-30 23:11] petethepig commented on #178
This was done in #300

[2021-08-30 23:11] #178 closed

[2021-08-30 23:12] petethepig commented on #178
Need to document it at some point though

[2021-08-30 23:13] petethepig commented on #344
This is not exactly the same but we recently added cypress tests in #359

[2021-08-31 13:54] yashrsharma44 commented on #348
Can I pick this issue? Would love some pointers regarding this 😄

[2021-08-31 20:02] Rperry2174 commented on #162
closed in #296

[2021-08-31 20:02] #162 closed

[2021-08-31 20:03] Rperry2174 commented on #281
closed in #296

[2021-08-31 20:03] #281 closed

[2021-08-31 20:05] #298 closed

[2021-08-31 20:13] Rperry2174 opened #364 "Add Documentation for Java Agent"
We added Java agent here: https://github.com/pyroscope-io/pyroscope-java (related to #94)
Some cleanup around that:
- [ ] Documentation
- [ ] Analytics (server)
- [ ] Build Pipeline

[2021-08-31 20:13] #94 closed

[2021-08-31 20:14] #263 closed

[2021-08-31 20:16] Rperry2174 commented on #355
closed in #362

[2021-08-31 20:16] #355 closed

[2021-08-31 20:41] Rperry2174 opened #365 "Add Documentation for Command completion"
Add documentation mentioned here:
https://github.com/pyroscope-io/pyroscope/issues/178
https://github.com/pyroscope-io/pyroscope/pull/300

[2021-09-01 03:56] tuananh2508 opened #367 "Add Documentation for Authentication Flow"
#Issue
We currently run Pyroscope in our K8s Cluster (installed by Helm) and using NodePort sevice type for it. But till now, I didn't see there is any option to secure the Pyroscope server ? Cause obviously we dont want some stranger can access the Service.
Thanks

[2021-09-01 06:53] xqzhou opened #368 "Pyroscope exec args parsing error in 0.0.38"
#### Cmd to reproduce
[code]

#### Error
[code]

Previous version working fine

[2021-09-01 08:10] kolesnikovae commented on #368
Thank you for reporting the issue @xqzhou. I confirm the problem, working on the fix.

As a temporary workaround you can separate pyroscope args and the command by `--`, i.e.:
[code]

[2021-09-01 13:20] #368 closed

[2021-09-01 17:21] Rperry2174 commented on #367
Glad to see that you're running Pyroscope! We actually added support for authentication in #272 which is included in the most recent release for Pyroscope.

The last step is that we need to document this feature so we will do that and then report back here.

[2021-09-01 18:13] cjyar opened #370 "Full Rust support"
@petethepig says it's possible to profile Rust in Linux using Pyroscope's [eBPF support](https://pyroscope.io/docs/ebpf/). But it would be nice to have full support for Rust.

[2021-09-02 11:20] xqzhou opened #371 "pyspy blocking mode is hang in docker container"
Process is hang when running in blocking mode, no profiling data is reported to server and can't be Ctrl+C stopped.

### To reproduce, run the following cmd inside a docker container
[code]

### My Environment
Linux Container
[code]
Docker Desktop Version
[code]
Pyroscope Version
[code]

[2021-09-03 08:31] tuananh2508 commented on #367
Thanks! Glad to hear. We looking forward for it !

[2021-09-06 06:32] #279 closed

[2021-09-06 23:29] petethepig commented on #348
@yashrsharma44 The error happens here: https://github.com/pyroscope-io/pyroscope/blob/main/pkg/storage/storage.go#L335-L337

When it happens we need to pass a message to the frontend via this function https://github.com/pyroscope-io/pyroscope/blob/3227700ced61f47cb68c9d2c921c3c66b975c809/pkg/server/handler.go#L393-L396

I'm thinking we could maybe implement it so that this notification appears if

[2021-09-07 06:04] AdrK commented on #371
Reproduced with master: ce5fb765df2a5048e70741ae749addeaf6c9d36f
Reproduced with newest phpspy: 07d976f4e7a9ac85aa3718b4405b75fac155962d

[2021-09-07 07:53] yasharne commented on #350
Thanks @kolesnikovae for your response, Actually we are using openshift and duo to our `scc`  we are not allowed to set 101 as `fsGroup`
are there any other ways to handle this?

[2021-09-08 04:37] gawicks commented on #342
@petethepig Looks like there's some housekeeping left. Could you link PR #381 to this issue and close 😊

[2021-09-08 04:38] petethepig commented on #342
@gawicks Right, I always forget, thanks for the reminder!

[2021-09-08 04:39] petethepig commented on #342
Fixed in #381

[2021-09-08 04:39] #342 closed

[2021-09-08 22:40] petethepig commented on #316
Yeah, we're planning to look into it at some point. There's an issue for it where we're going to track progress https://github.com/pyroscope-io/pyroscope/issues/316 but we don't have a timeline at the moment. Any pointers on how this can be implemented are very much appreciated!

[2021-09-09 02:40] mxlxm commented on #370
take a look at: https://github.com/tikv/pprof-rs, maybe useful.

[2021-09-09 08:23] #367 closed

[2021-09-09 08:32] tuananh2508 opened #384 "Pyroscope can't use PVC"
#Step to reproduce

1. Install Pyroscope using Helm
[code]

2. Edit `values.yaml` file
Set `persistent.enabled` to `true`

#Problem
[code]

I think this is because pyroscope pod run as non-root ?

[2021-09-09 12:45] Rperry2174 commented on #367
Thanks for closing @tuananh2508 we're planning on adding a little bit more here about some edge cases so let us know if you run into any issues.

In the meantime, looks like you found the documentaiton:
https://pyroscope.io/docs/auth-google

[2021-09-09 13:08] Rperry2174 commented on #370
Thanks for the recommendation @mxlxm ... looking through some older issues I actually found [a comment](https://github.com/pyroscope-io/pyroscope/issues/83#issuecomment-784947654) from @YangKeao who is one of the authors...

Since then we've added [a diagram](https://github.com/pyroscope-io/pyroscope/blob/main/docs/agent_protocol.md) of how the agent/server communication works which should be help

[2021-09-09 17:18] Rperry2174 opened #387 "Add Documentation for Tags"
We added support for tags in #280 .
![image](https://user-images.githubusercontent.com/23323466/132732387-b22d1b77-5031-4d8f-9644-2d3bcd017602.png)

We need to officially document it and let people know about some of the caveats

[2021-09-09 19:38] kolesnikovae commented on #350
Unfortunately, I'm unaware of alternative ways. But I can that this is the recommended method (
https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/#allow-users-to-skip-recursive-permission-changes-on-mount):

Cluster administrators should be able to set up a proper scc.

[2021-09-10 07:03] yasharne commented on #350
@kolesnikovae Sorry I didn't explain it clearly, I ment we can set `fsGroup` but the number cannot be `101`, the allowed number range is different, starting with something like `1024000`

[2021-09-10 11:08] kolesnikovae commented on #350
Oh, I see, that makes sense. Thank you for clarification :) My first answer (and our docs re this issue) is a bit confusing. The exact value of `fsGroup` does not really matter much – you can set it to a value from the allowed range, e.g:
[code]

This includes all processes of the container to the supplemental group 1024001 and makes kubelet to change the ownership of mounted volumes to this group

[2021-09-10 15:11] kolesnikovae commented on #348
I think we should implement a more generic thing that just one health check. Let me know if you think we don't need this complication :)

First, let's define the domain. We have some checks to be performed on the interval (at this point I think it is the same for all probes):

[code]

[code]

Controller should also be properly initialized and stopped at shutdown. `server.Controller` depends on it,

[2021-09-13 16:52] Rperry2174 opened #390 "Integrate Pyroscope Diff into CI/CD Pipelines"
In #373 we introduced this concept for us to compare Pyroscope `main` branch vs `pr-XXX`.

It results in a [comment from "pyroscopebot"](https://github.com/pyroscope-io/pyroscope/pull/373#issuecomment-917192985) that looks like this:
![image](https://user-images.githubusercontent.com/23323466/133124172-13a8c66b-dcdb-4545-bb96-386e52abcefd.png)

For this particular use case we run a series of gener

[2021-09-13 20:27] AdrK commented on #371
WA for a time being is to use `connect`.
[code]

[2021-09-14 21:12] Rperry2174 opened #394 "Add Reads to Benchmark Suite"
We'll likely need to clean up #249 and split it into a new issue. For now just making this a separate issue.

Basically we should add a metric to the benchmark suite that measures latency for reads

[2021-09-18 14:42] tuananh2508 opened #399 "Add Document on Data Retention feature"
# Issue
I see that Pyroscope now have the feature that allow user to setup data retention on #182.
But I can't find any Document on [pyroscope.io](url) for it ?

[2021-09-21 01:15] petethepig opened #400 "Tags Optimization — Pre-aggregations"
### Summary

Recently we added support for tags (see issue #280). The idea is to allow users to tag profiling data with tags such as:
* region (e.g `region=us-west-1`)
* container id
* some part of the larger application (e.g `controller=payments_controller`)

The current implementation works fine until you have a lot of individual tags or high cardinality for a particular tag. For example, if you

[2021-09-21 02:26] petethepig opened #401 "Synthesized programs for agent benchmarking"
### Summary

For consistent results in agent benchmarking project we need to generate synthetic programs. By that I mean programs that, when profiled, would generate a profile with set characteristics.

For example, a program that looks like this:
[code]

Would generate a profile that roughly looks like this:
[code]

or, visualized:
![visualized flamegraph](https://p-948235.tr1.n0.cdn.getcloudapp.

[2021-09-21 02:46] petethepig opened #402 "Set up build pipeline for the java integrations"
We have a working [java integration](https://github.com/pyroscope-io/pyroscope-java) but currently users have to build it manually. Here's the instructions on how to build it: https://github.com/pyroscope-io/pyroscope-java#building

We should set up a build pipeline for this java integration, ideally via github actions and github releases so that we could point users to a page where they could dow

[2021-09-21 02:47] Rperry2174 opened #403 "Explore using bitmaps for further optimizing tags"
In #400 We talk about the initial solution for optimizing the use of tags in a high cardinality environment. Here I've copied a (rough) example from @kolesnikovae in slack where he describes a way to use bitmaps in order to further optimize tags.

Given the dataset with 8 items as follows:
[code]

We create "Tag set IDs" `TID` of the various combinations:
[code]

Inverted index:
[code]

We  then c

[2021-09-21 22:07] petethepig commented on #399
@tuananh2508 Thanks for reporting this, we'll add something to the docs soon!

In the meantime, you can use `pyroscope server --help` and search for `--retention` argument:
[code]

The way it works right now is you can set retention period in seconds and pyroscope server will automatically delete data create before the threshold you provide via `--retention` argument.

[2021-09-22 00:10] #322 closed

[2021-09-22 00:28] Rperry2174 opened #408 "Switch from Samples to Percentages for Diff view"
in #289 we added diff rendering.

Right now when we look at a diff like [this one](https://demo-dev.pyroscope.io/comparison?query=cart.service.dotnet.cpu%7B%7D&from=1632254386&leftFrom=1632257992&leftUntil=1632261549&rightFrom=1632261595&rightUntil=1632265226&until=1632268786):
![image](https://user-images.githubusercontent.com/23323466/134264153-300281b9-1a3e-4dc7-9857-f8f2a380443a.png)

Here we

[2021-09-22 00:34] Rperry2174 opened #409 "Search bar is not working"
Not sure where we introduced this, but currently when I search the search bar, it no longer highlights the node with the searched phrase:

Before:
![image](https://user-images.githubusercontent.com/23323466/134265045-70c5b46e-961a-4c46-890b-af9b2ce4c229.png)

Now:
![image](https://user-images.githubusercontent.com/23323466/134265138-3d20e5d5-ca83-4bb3-8500-36ad42b3b9b5.png)

- [x] Fix the bug
- [

[2021-09-22 02:08] tuananh2508 commented on #399
Thanks for the answer.
But we installed Pyroscope with Helm chart and I can't find the option for it in Helm Chart.
After read your answer I tried to exec the command in the Pod but It's doesn't work because the main process is using the Badger database already.
For now, We still use very large PVC for it ( ~500GB), but still I think if there is an option for retention in `values.yaml` would be gr

[2021-09-22 15:33] borud opened #412 "Homebrew SHA256 mismatch"
I tried to install Pyroscope using homebrew and got an SHA256 mismatch.

[code]

I deleted the file from cache and tried again with the same result.

Then I downloaded the tar.gz file with wget and performed a sha256 on it and verified that the result was the same that Homebrew claimed (b15803d4f5a1ec6c2e51b3f1f047458e575d09f5e55b40aaf62078626cdd5363)

[code]

[2021-09-22 21:20] petethepig commented on #412
Hi @borud

I get the same results on my end, so the sha for that file is indeed incorrect. I'm not sure what happened exactly with `v0.0.35` file, but I think if you run `brew update` you should then be able to get the latest version (`v0.0.39`).

Let me know if that works.

[2021-09-22 21:37] Rperry2174 opened #416 "Add tests for search bar functionality"
Search bar occasionally gets broken as we make changes. This is just a reminder that we need tests for the search bar to prevent this

[2021-09-23 12:17] kolesnikovae commented on #399
@tuananh2508, thank you for reporting the issue! Indeed, the helm chart documentation can confuse. Actually, you can specify `retention` parameter in `values.yaml`:

[code]

I've prepared a PR (https://github.com/pyroscope-io/helm-chart/pull/15) – hope it will make configuring more transparent. I'd be more than happy to get feedback on this: I feel that at this point the documentation requires imp

[2021-09-23 20:54] Rperry2174 commented on #316
Was talking to someone who suggested we check out https://github.com/mgedmin/objgraph. Looking at there docs it seems like we could definitely turn the output into a flamegraph.

The biggest concern is the amount of overhead that this would add to our Python integration

[2021-09-28 00:04] Rperry2174 commented on #412
Hey @borud did this fix work for you?

[2021-09-28 09:28] borud commented on #412
@Rperry2174 @petethepig it seems to be working now.  Thank you!

[2021-09-28 18:15] #412 closed

[2021-09-28 18:47] #210 closed

[2021-09-28 18:47] #167 closed

[2021-09-29 00:45] #185 closed

[2021-09-29 08:14] colin-redbox opened #424 "Profiling PHP-fpm"
I would love to be able to accurately profile requests which are processed via PHP-FPM (in my case Magento). Essentially an opensource version of https://tideways.com/ (maybe https://github.com/tideways/php-xhprof-extension might help with this?)

I've had this working via the pyroscope 'attach' command and Docker setup but the way this profiles (all PHP operations are summarised over a time frame

[2021-09-30 19:34] raqibhayder opened #428 "Profiling python web frameworks"
Amazing work with Pyroscope. 👏🏽

Is there a way to profile web frameworks like FastAPI, Starlette or Flask?

We are currently using new relic and were testing out Pyroscope as an alternative for performance monitoring. We are using [`gunicorn` with `UvicornWorkers`](https://www.uvicorn.org/deployment/#gunicorn) and `FastAPI` as our framework using the following docker [image](https://fastapi.tiang

[2021-10-01 18:48] petethepig opened #433 "Dynamic tags support for go"
We recently added support for dynamic tags in Ruby and Python integrations. We need to do the same in our Go app.

Here's an example from our python docs:
[code]

Some pointers:
* [Profiler class](https://github.com/pyroscope-io/pyroscope/blob/88aaed0bf72ee627cc666bde402e51f1e835a449/pkg/agent/profiler/profiler.go#L84-L85) — this is the the place where we need to add the new methods
* [ProfileSess

[2021-10-01 21:52] deepto98 commented on #433
@petethepig  Hi, I'd like to work on this issue, can you please assign this to me?

[2021-10-01 23:37] petethepig commented on #428
Hi @raqib-hayder

Thanks for the kind words :)

Pyroscope should work great with the use-case you're describing and should generally work with any framework like `gunicorn`.

This might be related to the way subprocesses / forks are treated by the pyroscope agent. I can try to reproduce the issue with the docker image you linked and see if there's a bug somewhere.

The only question I have right n

[2021-10-02 00:29] petethepig commented on #433
Hi @deepto98 ,

Actually, @awwalker said he's interested in working on this one too. @awwalker can you let us know if you're still planning to work on this so that we can plan for our roadmap.

Otherwise I'll assign to @deepto98

[2021-10-02 02:10] awwalker commented on #433
Hey @petethepig and @deepto98 yeah I’m still committed to taking this on. I have a pretty vested interest in getting this feature in ASAP

[2021-10-02 16:23] raqib-hayder commented on #428
@petethepig : We are using the pip package `pyroscope-io`.

[2021-10-04 22:15] eh-am commented on #337
This should be bit more easy now that we have the tooltip extracted into its own component (https://github.com/pyroscope-io/pyroscope/pull/432)

[2021-10-04 22:17] eh-am commented on #230
It's available now under https://pyroscope.io/docs/kubernetes-helm-chart

[2021-10-04 22:17] #230 closed

[2021-10-05 14:22] eh-am commented on #49
#427

[2021-10-06 19:39] raqib-hayder commented on #428
@Rperry2174 and @petethepig : Thank you for updating the example. Will give this a try and let you guys know how it went. Much apprecaited.

[2021-10-06 20:04] raqib-hayder commented on #428
You guys are awesome! Thank you for promptly looking into this.

[2021-10-06 20:10] Rperry2174 commented on #408
closed in #432

[2021-10-06 20:10] #408 closed

[2021-10-07 01:48] petethepig commented on #428
Hi @raqib-hayder

We just released a new version of the pip package (0.4.0) with a fix for this issue.

Let me know if you have experience it.

[2021-10-07 01:55] Rperry2174 opened #441 "Add context menu to flamegraph canvas"
When inspecting a flamegraph and you click on a node that node becomes highlighted and the nodes above it become dimmed. Sometimes you only care about the node towards the bottom of a stacktrace, but you're stuck with a bunch of dimmed nodes that you don't care about (at the time) above it.

![image](https://user-images.githubusercontent.com/23323466/136308050-ddcbe8c1-56e2-4310-9ff5-83d87277ba5c.

[2021-10-07 04:17] tuananh2508 opened #442 "Python Pip Integration doesn't work with Python 3.6"
# Issue
I'm using Python 3.6 in a Dockerfile and now I want to upgrade from Pyroscope 0.0.39 to 0.2.0
After add "RUN pip install pyroscope-io" to Dockerfile the error log show
[code]

I've try to upgrade pip through `pip install --upgrade pip setuptools wheel` but got the same result

# Solution
Upgrade to newer Python Image like `python:3.9` solved the problem

# Problem
But many other app may ha

[2021-10-07 13:20] eh-am opened #445 "Fix tooltip issues"
- [ ] After https://github.com/pyroscope-io/pyroscope/pull/432 we sometimes output wrong values(Infinity/NaN)

For example:
![image](https://user-images.githubusercontent.com/6951209/136390700-308ec6b8-0001-4d22-8362-5c44bf994d91.png)

- [ ] when app changes, the formatter unit doesn't change
![Peek 2021-10-08 14-54](https://user-images.githubusercontent.com/6951209/136601469-ffd578f5-cfbf-4d77-bf

[2021-10-07 23:16] Rperry2174 opened #447 "Swap from Moment to date-fns"
Moment is a pretty large library and we only use a small part of its functionality. We may be able to swap moment library for a smaller one https://date-fns.org/. This is just a placeholder issue to investigate this further.

We should definitely add tests to make sure that we don't break anything in the process and that all requests/parameters related to moment are exactly identical to the reques

[2021-10-07 23:22] raqibhayder opened #448 "Reading environment variables in server configuration file"
I am trying to deploy the pyroscope server to an App Engine instance in GCP with Google OAuth enabled. I would like to populate the server configuration file using environment variables like below but it does not work. If I populate the attributes using raw string, everything works well. I do not want to have the secrets in the server configuration file but rather want to set them as environment v

[2021-10-08 02:00] tuananh2508 opened #449 "Add Tags support for Grafana"
From Pyroscope 0.0.39, `tags` feature is available. But on Grafana Dashboard, user still only can choose application name (without tag) to view. This would cause some problem for user who run multiple application with the same pyroscope's application name.

[2021-10-08 04:58] petethepig opened #451 "PDF export is broken"
These buttons don't work right now

<img width="242" alt="Screen Shot 2021-10-07 at 9 56 58 PM" src="https://user-images.githubusercontent.com/662636/136500748-1c6f10ec-8d0d-4da2-8219-5afd78c9fd7c.png">

@Rperry2174 do we really need pdf export? the library for pdf export is pretty huge. Maybe we could export in csv or something like that? Or pprof?

[2021-10-08 05:40] Rperry2174 commented on #451
I wouldn't be opposed to getting rid of the pdf option. I think exporting to other formats would be much more useful when we get around to it (I.e html or pprof)

[2021-10-08 22:42] Rperry2174 opened #454 "Add Ability to Go from Flamegraph Node to Github Source code"
In #428 someone was trying to investigate the profile for ["starlette" package](https://github.com/encode/starlette)  and  as I was investigating the issue I found myself doing the following:

1. Copying starlette from this table
![image](https://user-images.githubusercontent.com/23323466/136631886-06fd99fe-dac6-4ac3-b761-5b5e6ae5b254.png)
2. Pasting it into google to find the Github page
3. Readi

[2021-10-08 22:56] Rperry2174 commented on #441
From Slack another way of doing this would be adding right click functionality where users can right click and select to either "focus" on a node or to "collapse" the nodes above it via a dropdown menu.

For now the two most simple options could be:
- Focus: Which would dim the nodes above
- Collapse: Which would collapse the nodes above
(or something along these lines)

![Peek 2021-10-07 14-03](h

[2021-10-12 13:54] eh-am opened #461 "Server config reload"
As per https://github.com/pyroscope-io/pyroscope/pull/404#issuecomment-924899621

Now that we have configs that one may want to change while server is running (TLS Cert, or [metrics export](https://github.com/pyroscope-io/pyroscope/pull/444)), it's a good idea to allow the server to refresh the config:

- Given a SIGHUP signal, or call to `/reload`
- Check the config will work (ie it won't crash t

[2021-10-12 15:05] kolesnikovae opened #462 "Request timeout and cancelation"
Pyroscope server should respect request context. If a client cancels a request or it's timed out, any related activity (such as an expensive query) must be cancelled immediately.

[2021-10-12 18:51] Rperry2174 commented on #287
We've discussed this a little bit over slack there are multiple routes that we can go here:

Short term:
1. Create an endpoint for deleting apps
2. Create a "read only" mode that is enabled by default so that the process of deleting an app is protected by which mode the server is started in
3. Create the UI under a "settings" type cog over in the sidebar where one can access the option to delete a

[2021-10-12 20:35] #445 closed

[2021-10-14 20:06] eh-am commented on #228
Here's an example of workflow that the `adhoc` functionality should provide (ignoring that's that's a nodejs repo)

https://github.com/mapbox/flamebearer/issues/7#issuecomment-449841832

[2021-10-15 00:51] Rperry2174 commented on #304
closed in #353

[2021-10-15 00:51] #304 closed

[2021-10-15 17:46] eh-am opened #468 "Fix highlight on mobile devices"
Currently in mobile devices, highlight is activated by touching on a node, however, focusing also is activated by touching on a node. So the highlight refers to the previous touched button, which looks off.

[2021-10-18 20:17] petethepig commented on #402
Done, there's a `release-java` job on jenkins server

[2021-10-18 21:51] petethepig opened #471 "Support other formats in /render endpoint"
Currently /render endpoint only returns data in flamebearer format. Users have been asking for other formats as well.

We already have support for different ingestion formats. I think it's time to extend the render endpoint with support for these formats as well. [Here's the code for ingestion part](https://github.com/pyroscope-io/pyroscope/blob/bac117131abd01ebde688c440b15c832bee9987d/pkg/server/

[2021-10-19 01:37] #348 closed

[2021-10-19 10:07] #442 closed, assigned to nobody

[2021-10-19 17:22] #350 closed

[2021-10-20 01:52] petethepig opened #474 "Add a matrix of what types of profiling are available for different platforms"
As mentioned here: https://github.com/pyroscope-io/pyroscope/issues/316#issuecomment-945804503

[2021-10-20 02:18] petethepig opened #475 "Refactor agent session code"
Look at this [take snapshots function](https://github.com/pyroscope-io/pyroscope/blob/3286f05dae2235cc84248b81caa89a6af5e60e9d/pkg/agent/session.go#L174):
* It got pretty big, there's a lot going on
* Snapshot interface is not great, most spies are not actually returning anything in `Snapshot`(runs 100 times per second)
until there's a `Reset` call (happens every 10 seconds). So we need to change

[2021-10-22 06:53] zhuanxuhit opened #478 "ebpf support memprofile"
can ebpf support memprofile

[2021-10-25 18:30] petethepig opened #479 "Refactor HTTP backend code"
As our HTTP backend code complexity increases we need to find better ways of organizing that code. Currently we're only using standard golang `net/http` package and we're already seeing some limitations of it, for example, `handleFunc("/", ...)` matches everything after `/`, not just `/`, so we have to work around it (https://github.com/pyroscope-io/pyroscope/blob/separate-client-module/pkg/server

[2021-10-29 15:34] eh-am opened #483 "Show a message when there's no data available"
We used to have this
![image](https://user-images.githubusercontent.com/6951209/139462729-520efec2-71b6-4d65-84e4-d8dec5114781.png)

But in one of the refactors it got (accidentally) removed:
![image](https://user-images.githubusercontent.com/6951209/139462622-5925e3c5-7148-4b1a-ba1f-0d90728afb28.png)

It would be nice to have it back, with tests and whatnot.

[2021-10-30 17:21] netamego opened #485 "Java Agent - PYROSCOPE_PROFILER_EVENT always itimer"
Hi,

Hello I refer here this bug:

https://github.com/pyroscope-io/pyroscope-java/issues/1

Thanks a lot.

[2021-10-30 18:35] Rperry2174 commented on #485
Thanks for reporting this bug / referring to this repo! i will add it to the roadmap and we'll look into it more

[2021-10-31 01:45] clovis1122 commented on #483
I'll take a look at this one!

[2021-10-31 03:08] Rperry2174 commented on #483
Awesome thanks @clovis1122 let us know if you have any questions

[2021-10-31 14:29] clovis1122 commented on #320
I'll take a stab at this!

[2021-10-31 15:14] YangKeao commented on #370
I'm adding the pyroscope support in `pprof-rs` through fold format api in https://github.com/tikv/pprof-rs/pull/86

[2021-10-31 22:23] clovis1122 commented on #305
I'll take a look!

[2021-11-01 12:16] kolesnikovae commented on #291
A small update on the size-based retention policy feature: https://github.com/pyroscope-io/pyroscope/pull/431#issuecomment-956179306 - to make long story short, it will require some more time to implement this.

[2021-11-01 17:44] eh-am commented on #441
Implemented in #480

[2021-11-01 17:44] #441 closed

[2021-11-02 00:50] eh-am commented on #451
As per https://github.com/pyroscope-io/pyroscope/pull/493 we removed PDF export

[2021-11-02 00:50] #451 closed

[2021-11-02 12:38] eh-am opened #494 "New version in the footer mismatch with actual latest version"
Feature originally developed in https://github.com/pyroscope-io/pyroscope/pull/333

Here's an example posted in slack:

The user is running 0.2.4 but the message says 0.2.3 is the latest version!
![image (27)](https://user-images.githubusercontent.com/6951209/139847662-e5c984a5-5a00-4e7b-a4de-aceceee3c26d.png)

[2021-11-02 13:36] #483 closed

[2021-11-02 16:04] petethepig commented on #494
This might be because of the resent split of the docs repo. I'll investigate

[2021-11-03 14:07] eh-am opened #497 "Optimize transition when resizing the flamegraph canvas"
When resizing the canvas (when changing mode or just resizing the window), there's a flash where the canvas size hasn't been resized yet, which looks a bit off:

![Peek 2021-11-03 11-06](https://user-images.githubusercontent.com/6951209/140075427-a59d3f3c-a296-443b-af86-7d03f739a335.gif)

[2021-11-04 14:31] eh-am opened #500 "Clicking on item on the table should populate the highlight"
This idea was previously discussed in slack

Clicking on a table item
![image](https://user-images.githubusercontent.com/6951209/140332407-9f8f9169-7341-4c75-9649-847f23ca7cd4.png)

Should populate the highlight search
![image](https://user-images.githubusercontent.com/6951209/140332471-d5925fbc-2d06-4f3c-90fe-b02e76ca20ef.png)

[2021-11-04 17:33] Rperry2174 opened #501 "Ruby Gem / Pip Package Intallation on Alpine"
On alpine linux adding the Pyroscope ruby gem or pip package fails with an error similar to this (this is ruby version):
![image](https://user-images.githubusercontent.com/23323466/140389432-1304c580-d55f-4415-a698-27455a733065.png)

[code]

/cc @petethepig

[2021-11-05 08:30] abeaumont opened #502 "Snapshot error on exec mode"
With https://github.com/pyroscope-io/pyroscope/pull/436, the exec mode uses polling to check whether the target process is running or not, but the sampling rate is (usually) higher than the polling rate, so usually, the snapshot taking code detects the process has finished. This case is covered in the code but `process.PidExists` seems to fail to detect that the process is gone, and instead, a dif

[2021-11-05 08:38] abeaumont opened #503 "Segmentation fault on linux with exec mode"
I get a segmentation fault running the latest [linux binary](https://dl.pyroscope.io/release/pyroscope-0.2.4-linux-amd64.tar.gz) using exec mode:

[code]

The backtrace:

[code]

[2021-11-05 13:12] #305 closed

[2021-11-05 14:54] eh-am opened #506 "Better handling of requests"
- [ ] Retries
- [ ] Message when request fail

For example, here the request failed but spinner continues indefinitely, without any information to the user:
![Peek 2021-11-05 11-53](https://user-images.githubusercontent.com/6951209/140530631-0e4e319d-4bd4-4cfb-9978-316fc97f0a8f.gif)

[2021-11-05 15:13] eh-am opened #507 "Improve jest snapshot"
Currently the setup involves running a docker image,  running `apt update`, `yarn install` etc.

https://github.com/pyroscope-io/pyroscope/blob/main/scripts/jest-snapshots/run-docker.sh#L7
https://github.com/pyroscope-io/pyroscope/blob/main/scripts/jest-snapshots/run-snapshots.sh#L12

We could speed up things a bit, see https://github.com/pyroscope-io/pyroscope/pull/466#discussion_r731424572 for m

[2021-11-05 17:04] Rperry2174 commented on #501
@AdrK forgot to link the project that produced this error to reproduce this error you can run the docker-compose from here: https://github.com/pyroscope-io/abalone

[2021-11-05 20:41] Rperry2174 commented on #228
Adding this as a mockup for what a potential end UI would look like.
![adhoc_flow](https://user-images.githubusercontent.com/23323466/140575239-174a1cc0-b401-4c7a-b666-7726349741a4.gif)

For continuous profiling, the input is the "start time" and "end time" which comes from the timeline. This makes sense for continuous profiling because part of the appeal here is being able to drill down into part

[2021-11-05 22:24] petethepig commented on #503
Can you provide some more info about the environment as well as the source code for the script?

I'm particularly interested in linux version, go version, rust version and python version

[2021-11-05 22:25] petethepig commented on #506
Retries might be an overkill, but we definitely need some message to show to users.

[2021-11-05 22:47] Rperry2174 commented on #506
What about just a timeout with a message. I feel like when I end up in this state a simple refresh fixes it

[2021-11-07 16:23] kolesnikovae commented on #502
Indeed, the recent changes made the check impossible. See #510

[2021-11-07 21:45] gabrielzezze commented on #500
Hello @eh-am,

This seems pretty straightforward, would have no problems working on this if that's ok!

Thanks.

[2021-11-07 21:49] eh-am commented on #500
hey Gabriel, it's all yours!
 let me know if you have any issues

[2021-11-08 08:50] abeaumont commented on #503
Sure. I used the published binary, which is statically linked, so the go and rust versions shouldn't be relevant, but I'll provide them anyway.

Linux version: `Linux 5.14.15-arch1-1 #1 SMP PREEMPT Wed, 27 Oct 2021 23:38:14 +0000 x86_64`
Go version: `go version go1.17.2 linux/amd64`
Rust version: rustc 1.56.1 (59eed8a2a 2021-11-01)
Python version: Python 3.9.7
The script is something minimal, as i

[2021-11-08 20:17] eh-am opened #512 "Add different flamegraph coloring modes"
Currently we only support coloring based on the package name (https://github.com/pyroscope-io/pyroscope/blob/main/webapp/javascript/components/FlameGraph/FlameGraphComponent/color.ts#L67)

We could add different coloring modes:

- [ ] Based on `self`
- [ ] Based on `total`
- [ ] Based on tag (all subtree under a specific tag would have a certain color)

etc

[2021-11-08 21:49] #502 closed

[2021-11-09 06:40] Rperry2174 commented on #485
Hey @netamego should be working now! Let us know if you have any issues or other feedback

[2021-11-09 06:40] #485 closed

[2021-11-09 20:39] petethepig opened #516 "Run go tests on windows"
Most recent release failed because windows build failed and we didn't catch it earlier because we don't run go tests on windows.

I'm thinking we should start doing that. Simplest way to do that would be to add a github actions workflow, similar to the one we already have (https://github.com/pyroscope-io/pyroscope/blob/main/.github/workflows/tests-go.yml), but running under windows.

[2021-11-10 13:43] dmos62 commented on #401
I'm looking at some edge cases to better understand the domain.

### Simulating different levels of CPU utilization

What are the requirements for simulating different levels of CPU utilization? Or, more specifically, does it need to be precise?

If we want precise simulation of a given CPU utilization level, we'd need to use clocks. Not only for the waits, but also for workloads. I also wonder if

[2021-11-10 23:03] petethepig commented on #401
Doesn't have to be too precise, I would say even 20% variance is tolerable here.

Simulating memory allocations is an interesting idea. I'm thinking this might become relevant in the future but right now CPU utilization is much more important.

[2021-11-12 07:43] Ehco1996 opened #522 "feature request：impl pull mode like promtheus"
now we need embed sdk to project codebase, but we can push one step closer, pull pprof from app's http api and write it to pyroscope server?

[2021-11-12 07:44] Ehco1996 opened #523 "feature request：impl pull mode like promtheus"
now we need embed sdk to project codebase, but we can push one step closer, pull pprof from app's http api and write it to pyroscope server?

[2021-11-12 08:29] #522 closed

[2021-11-12 09:09] abeaumont commented on #523
Thanks for the request @Ehco1996. Pull mode has already been requested (see #187 and #204), so it may be a good idea to add any further comments/discussion to those issues and close this one as a duplicate. There's some ongoing work to support it, it may be a good idea to reflect the progress in those issues @kolesnikovae?

[2021-11-12 09:33] dannykopping commented on #187
This is a major blocker to my team adopting pyroscope; would love to see this in place

[2021-11-12 15:21] Rperry2174 commented on #187
Hey @dannykopping thanks for reaching out and good to know. We've actually been discussing this internally (similar issue #204 is on roadmap) and made some progress on it this week. We'll report back as we closer to closing this issue next week!

[2021-11-12 17:25] bmitchener-imvu commented on #503
Happens to me also with a fairly up to date Ubuntu Focal machine. Also the published library. All I had to do was just run Python. Also had a similar or same crash with connect. Python 2.7.x

[2021-11-12 17:27] waywardmonkeys commented on #503
Happens to me also with a fairly up to date Ubuntu Focal machine. Also the published library. All I had to do was just run Python. Also had a similar or same crash with connect. Python 2.7.x

[2021-11-13 02:49] waywardmonkeys opened #525 "Export flamegraph as SVG"
It would be nice to export the current flamegraph view as SVG, including tooltips.

I'd like to be able to grab a sample of data and share it with others.

[2021-11-13 02:53] waywardmonkeys opened #526 "Make deeply nested highlighted nodes visible"
When selecting an item in the table, it would be nice for there to be a way to find it easily even in a deeply nested flamegraph.

[2021-11-13 02:57] eh-am commented on #526
You are absolutely right @waywardmonkeys!
Would https://github.com/pyroscope-io/pyroscope/issues/500 be more or less what you have in mind?

[2021-11-13 02:59] eh-am commented on #525
Hey @waywardmonkeys, this is something we've been discussing internally. I would love to hear your thoughts on exporting as HTML instead of SVG! (Which is something we are more inclined to for other reasons)

[2021-11-13 03:29] waywardmonkeys commented on #525
HTML is fine too! Perhaps even better! I just want to be able to share something interactive that is a single file.

[2021-11-13 03:30] waywardmonkeys commented on #526
Not exactly. I mean, that wouldn't hurt, but even when I type the name of a function in the highlight, I'm not seeing anything in the flame graph for things that are small and deeply nested. Something near top-level, sure ...

[2021-11-13 23:36] Ehco1996 commented on #523
closed for duplicated issue

[2021-11-13 23:36] #523 closed

[2021-11-13 23:37] Ehco1996 commented on #187
looking forward for this feature

[2021-11-16 02:05] #471 closed

[2021-11-16 19:11] eh-am opened #537 "Investigate diff issues when left value is empty"
![image](https://user-images.githubusercontent.com/6951209/142049858-e07991c0-912a-4ff0-bca0-778330624285.png)

Thereotically in this case all code is new, so it should've colored red?

Even if that's the correct behaviour, we still have to fix the `NaN` in the tooltip.

left:
[code]

Right
[code]

[2021-11-17 03:43] petethepig commented on #332
Closing because this was implemented a while ago

[2021-11-17 03:43] #332 closed

[2021-11-18 13:36] eh-am opened #548 "Create a blessed dropdown component"
Currently we have 2 kinds of dropdowns: the native one (`<select>`) and `szhsin/react-menu`, for sake of consistency let's only use react-menu, since it's has more features.

First step is to create a DropdownComponent in the `webapp/javascript/ui` directory and a story (from storybook, directory `stories`) showing how to use it.

[2021-11-18 14:03] ruslanpascoal2 commented on #548
I would like to tackle this issue 🙂

[2021-11-18 19:26] #503 closed

[2021-11-19 14:32] eh-am opened #552 "Align "Select left/right time range" to the side"
Currently they are weirdly aligned:
![image](https://user-images.githubusercontent.com/6951209/142639065-edc3ff2d-2d4f-4429-ba75-d3fffbb55b45.png)

We want something like this
![image (29)](https://user-images.githubusercontent.com/6951209/142639409-ad778f11-00f6-4c03-80ad-268c8adbd11c.png)

Also double check they have the same size.

[2021-11-22 14:37] #257 closed

[2021-11-23 06:23] #516 closed

[2021-11-24 19:39] eh-am opened #563 "Support more sofisticated highlight queries"
Here in the video I wanted to match `serialize` only, and not `Deserialize`. So this is a case where the implementation is too naive.
Sure, I could've used `Serialize` (capitalized), but the point still holds.

![Peek 2021-11-24 16-38](https://user-images.githubusercontent.com/6951209/143303011-221bc0d0-6ec9-4776-ba49-75a8949771b4.gif)

Maybe we could support RegExp?

The referred code is at
https

[2021-11-24 19:43] eh-am commented on #526
I think this is a good exemplification of the issue @waywardmonkeys brought up:
![Peek 2021-11-24 16-42](https://user-images.githubusercontent.com/6951209/143303488-c8892c03-9ecc-4fac-8a6d-513eeddd1078.gif)

[2021-11-29 16:36] Rperry2174 opened #568 "Flamegraph and button overflow in comparison view"
When looking at comparison view the flamegraphs and the button overflow

![image](https://user-images.githubusercontent.com/23323466/143906724-f6a6cc45-839f-4294-a3ad-bc464ce4b4aa.png)

[2021-11-30 16:47] kolesnikovae opened #572 "Ingestion flow optimisation"
Pyroscope clients send profiling data over the network mainly encoded in `transporttrie.Trie` format (`Trie` for brevity). Data gets into the storage via `Upstream` interface which only accepts `Trie` type. Internally, in storage we use `tree.Tree` data structure for representing profiling data, therefore we transcode input data. Clients use `Upstream` implementations (`Remote` and `Direct`) to se

[2021-11-30 17:05] kolesnikovae opened #573 "Make Trie decoding more efficient"
The current `trasporttrie.IterateRaw` implementation uses the `io.CopyN` method which allocates 32K buffers by default for every tree leaf (a __stack__). This should be either revised to not use copying at all, or reuse the buffers.

It’s hard to estimate how helpful this change can be, but it is clear that it does not require any effort and will improve ingestion HTTP handler performance to some

[2021-12-07 07:11] petethepig opened #584 "add persistance to analytics module"
Some of pyroscope analytics metrics are cumulative, or in other words, they are counters, not gauges. When the server starts they start with the value of 0 and increase continuously every time some event happens.

The problem is that when a user restarts pyroscope server all of those counters reset to zero and we end up losing data. I think the simple way of handling this issue is implementing som

[2021-12-07 19:53] Rperry2174 commented on #204
See [examples](https://github.com/pyroscope-io/pyroscope/tree/main/examples/pull) here

[2021-12-07 19:53] #204 closed

[2021-12-07 19:55] Rperry2174 commented on #187
This is now added @Ehco1996 @dannykopping @alonlong ! See [examples](https://github.com/pyroscope-io/pyroscope/tree/main/examples/pull) here or documentation [here](https://pyroscope.io/docs/pull-mode)

[2021-12-07 19:55] #187 closed

[2021-12-08 05:14] dannykopping commented on #187
Great news @Rperry2174! I'll give this a try as soon as I can :tada:

[2021-12-08 08:16] Rperry2174 commented on #526
@eh-am I ran into this recently and was thinking we could also maybe outline the parent node instead of highlighting it in these cases

[2021-12-08 13:35] eh-am opened #587 "persist sidebar collapsed state"
We should persist on local storage what state the sidebar should be (collapsed/uncollapsed).

![Peek 2021-12-08 10-34](https://user-images.githubusercontent.com/6951209/145217237-74e10f75-f1f1-4833-8dc9-07967f2eb9b8.gif)

[2021-12-08 18:53] kolesnikovae opened #589 "Make storage parameters configurable"
Users should be able to change hardcoded storage parameters:
https://github.com/pyroscope-io/pyroscope/blob/141d73406f5482ee14f999ee7721403d3e0d3d99/pkg/storage/storage.go#L80-L94

[2021-12-08 19:27] eh-am opened #590 "Update grafana plugins"
Currently we have 2 grafana plugins: for the [datasourcel](https://github.com/pyroscope-io/grafana-datasource-plugin) and for the [panel](https://github.com/pyroscope-io/grafana-panel-plugin).

That makes it difficult to integrate in the normal development flow, which is one of the reasons the existing plugins versions are outdated.

The idea is to move the code back into the main repository, but

[2021-12-08 19:34] eh-am opened #591 "Persist frontend data"
Currently there's no frontend persistence, which means every time one refreshes the page, configurations like Fit Mode, Table/Flamegraph/View etc have to be set again, which makes the experience annoying.

There's been some internal discussions about using [notifications](https://github.com/pyroscope-io/pyroscope/pull/586) to inform about new versions. In that case, after dismissing the notificati

[2021-12-08 19:45] Rperry2174 commented on #591
Should we merge this with #587 @eh-am

[2021-12-08 19:46] Rperry2174 commented on #552
closing from #565 thanks @ruslanpascoal2 !!!

[2021-12-08 19:46] #552 closed

[2021-12-08 19:51] Rperry2174 commented on #587
Closing and adding this as a part of #591

[2021-12-08 19:51] #587 closed

[2021-12-08 19:54] dannykopping opened #592 "Provide web endpoints to view targets discovered using k8s service discovery"
As an operator, I'd like an easy way to know which pods are being discovered by pyroscope, so that I can troubleshoot why some pods are missing. A log line could work, but this would likely just log once and it'd be hard to track down. A web UI would probably be best.

Prometheus provides a view: http://demo.robustperception.io:9090/service-discovery
This allows the operator to see which pods were

[2021-12-09 01:40] petethepig opened #594 "Add API for adding Annotations on the timeline"
We should add ability for users to add annotations via an API.

For example, this is what those look like in grafana:

![Screen Shot 2021-12-08 at 5 37 17 PM](https://user-images.githubusercontent.com/662636/145318518-bc5448bc-0c86-4a5c-95e3-ceaedcc1e149.png)

* [ ] We could start by having a simple API for creating these:

[code]

* [ ] then we could add something on the frontend to render these

[2021-12-09 01:57] Rperry2174 commented on #594
@petethepig should we merge this with #97 ?

[2021-12-09 02:12] petethepig opened #595 "Auto-collapse flamegraphs"
Many flamegraphs, particularly ones from ruby or python apps include a lot of intermediary library-type calls that just delegate things down the stack and that information is often not very useful. You especially get a lot of this when using tags.

We could implement some algorithm that would detect those situations and instead of rendering the whole stacktrace render just one special node that a

[2021-12-09 02:14] petethepig commented on #594
@Rperry2174 oops, my bad. we could have both I guess, yours could be the next step where a user can add their own annotations, and it can use the same api we implement in this issue.

[2021-12-09 07:20] #278 closed

[2021-12-09 14:16] eh-am commented on #591
We can use https://github.com/rt2zz/redux-persist

[2021-12-09 15:05] nixjdm commented on #316
Hey, Python developer here. I've just been pointed to check out this project, looks great! I know of another tool I'd suggest checking out.

I used py-spy (directly) for some profiling needs a while back, but it couldn't provide all that I wanted. Eventually I found https://github.com/plasma-umass/scalene and have been using it since. It can profile memory usage. Check out the profiler comparison

[2021-12-09 17:01] eh-am commented on #595
Interesting idea, but I am having trouble visualizing what would the heuristic be. Would it be tailored per framework?

[2021-12-09 18:32] abeaumont opened #601 "Support adhoc profile visualization in other formats"
`pyroscope adhoc` supports different output formats (pyroscope's own JSON, pprof, and collapsed), but visualization is currently limited to JSON format. Support for the rest of the formats should also be added.

[2021-12-10 17:26] Rperry2174 opened #605 "Rewrite Rideshare Example in Golang"
We currently have a rideshare example for [ruby](https://github.com/pyroscope-io/pyroscope/tree/main/examples/ruby) and [python](https://github.com/pyroscope-io/pyroscope/tree/main/examples/python).

These examples are great for helping people understand how to use multiple key features from Pyroscope (particularly Tags and diff view)

We added support for [tags in Go](https://pyroscope.io/docs/go

[2021-12-13 13:24] eh-am opened #606 "Add Fit Mode to Context Menu"
The Fit Mode functionality is available on the Toolbar:
![image](https://user-images.githubusercontent.com/6951209/145820380-26079dff-4d12-4611-8da4-52b39ecad37c.png)

But not on the context menu (accessed by right-clicking the flamegraph):
![image](https://user-images.githubusercontent.com/6951209/145820449-0fea1f36-9ace-4b13-b9e8-6da88d00e22e.png)

It's a good idea to have the same functionality

[2021-12-14 02:11] Rperry2174 commented on #595
yeah I agree @eh-am. I think it would have to be per-framework and we would probably have to write some sort of "plugin" type of thing where it filters out certain chunks depending on which framework it is... No way we can support _all_ frameworks for this, but if we build it in a way where community members can contribute for the frameworks that are important to them then that could work

[2021-12-14 13:41] dannykopping opened #610 "`base-url` is not used correctly for all web resources"
The `base-url` parameter doesn't seem to prefix links to assets (CSS/JS,etc).

We run a central nginx instance for each cluster which reverse-proxies to various services. The URL `https://<cluster>/directory-loki/pyroscope/loki-dev-001` results in a blank page, even if I specify the `base-url` as `/directory-loki/pyroscope/loki-dev-001`; all of the assets 404 because they're not using that prefix.

[2021-12-14 23:18] Rperry2174 commented on #8
Adding these to the list from Node.js slack:

https://github.com/Unitech/pm2
https://pm2.io/docs/enterprise/guides/profiling/

[2021-12-16 08:05] #610 closed

[2021-12-16 20:20] Rperry2174 opened #618 "Add UI/UX Improvements to Tag Dropdown"
Related to #548

Currently the "tag" dropdown has no kind of limit on how many tag values can be shown for any particular key. Although we don't recommend people to use high cardinality fields (i.e. `user_id` in this example) sometimes this will happen.

Either way we should add some additional functionality to this dropdown to be able to prevent a case where the dropdown is 100+ items long and ru

[2021-12-16 20:23] eh-am commented on #548
Closed in favor of https://github.com/pyroscope-io/pyroscope/issues/618

[2021-12-16 20:23] #548 closed

[2021-12-16 20:26] eh-am commented on #618
We are using `szhsin/react-menu` which supports both operations (searching and adding a scrollbar):

* https://szhsin.github.io/react-menu/#focusable-item
* https://szhsin.github.io/react-menu/#menu-overflow

[2021-12-16 20:45] Rperry2174 commented on #494
![image](https://user-images.githubusercontent.com/23323466/146446492-07511511-7a39-44fa-b820-9ea1aa0d7aee.png)

Still seeing this issue /cc @petethepig

[2021-12-16 21:08] petethepig commented on #494
I think it's a race condition where the demo gets deployed on the new version before we even update the latest-version.json on pyroscope.io

I'll figure something out..

[2021-12-17 00:30] Rperry2174 opened #621 "Improve timeline UI when showing a single bar"
### The Bug
Currently when "zooming" in on the timeline to view single bar, what the timeline eventually shows is an empty timeline with a bar at the far left and a bar at the far right:
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/23323466/146468069-4439d402-ce26-485c-a872-9abebc015f86.gif)

![image](https://user-images.githubusercontent.com/23323466/146468165-a87aae97-36d

[2021-12-17 00:37] #568 closed

[2021-12-17 00:38] petethepig opened #622 "Handle backend errors on the frontend"
Currently if /render call fails there's no indication about it on the frontend. Same with the timeout — if the request times out the spinner keeps spinning.

### To reproduce

Adding some code like this to [line 71 in render.go](https://github.com/pyroscope-io/pyroscope/blob/f7ebc335fad777869499ea2685ba4dc6bfa54c6d/pkg/server/render.go#L70-L71) is a good way to simulate this kind of issue:
[code]

[2021-12-17 04:35] petethepig opened #623 "Bug when focusing on a node and then changing time range"
When you click on a node on the flamegraph and then change timerange the selected node does not persist, and a different node is selected. I suspect it's because we store index instead of the whole path to the node.

Here's a gif that illustrates the problem
![2021-12-16 20 13 42](https://user-images.githubusercontent.com/662636/146488305-4c25a637-fe15-4ef4-891c-36f26325fe13.gif)

I think a better

[2021-12-17 11:50] eh-am commented on #506
Closing in favor of https://github.com/pyroscope-io/pyroscope/issues/622

[2021-12-17 11:50] #506 closed

[2021-12-17 16:30] eh-am opened #626 "Implement Delete Tags"
After allowing to delete apps (https://github.com/pyroscope-io/pyroscope/pull/515) the next natural step is to delete tags.

For example, given
[code]
One would want to delete
[code]

The CLI API needs to be discussed, `admin app delete tag` or `admin app delete myapp{pod=autoscale-backend-58f9bc4b7-2nf42}` etc.

[2021-12-17 23:24] #409 closed

[2021-12-20 21:00] Rperry2174 commented on #594
hey @petethepig until we get support for sql or something along those lines, should we just store this kind of information in badger?

[2021-12-20 21:01] petethepig commented on #594
@Rperry2174 oh yeah, definitely

[2021-12-21 08:19] smiley717 commented on #292
Has the design not ready yet?

[2021-12-21 08:20] smiley717 commented on #292
I am able to add this feature myself once design ready!

[2021-12-21 14:47] eh-am opened #638 "Changing main timeline in Comparison view should change the flamegraphs"
This probably was introduced when we moved the data to the redux store.

Basically when the main timeline changes, the flamegraphs should change as well, since the left/right timelines were affected.
![Peek 2021-12-21 11-45](https://user-images.githubusercontent.com/6951209/146948904-e064edc6-b122-4b87-85ff-cf4e8e55cf27.gif)

[2021-12-21 14:51] Rperry2174 commented on #638
Yeah also similar: #351

We should maybe make it so that:
- the minimum of the left time range is also the minimum of the main time range
- the maximum of the right time range is the max of the right time range

[2021-12-21 16:54] abeaumont commented on #626
I think it may be good to discuss what we understand by tag deletion and what the trade-offs are in the different cases.

Let's begin with some background information. A tag is a pair of `{key, value}` and a time series is composed of an application name (which is just a special tag, but we consider it a separate entity for now) and a set of tags. For example, we may have 4 different time series l

[2021-12-22 02:21] linthan opened #640 "feat: support load multi target config file"
background  story：
we need to scrap the profiles of many of the dynamic  target instances。 prometheus has the ability of loading configs from a directory to solve the problem.
for example:
[code]

hope and eager for this feature to be added to the pyroscope project.

[2021-12-22 04:08] petethepig commented on #640
/cc @kolesnikovae what do you think? How hard would it be to add this?

[2021-12-22 11:00] kolesnikovae commented on #640
Sure, we can easily add this: we only need to port [file discovery](https://github.com/prometheus/prometheus/blob/main/discovery/file/file.go) from prometheus, which seems pretty trivial – let's see if we can add it in the next release.

[2021-12-22 11:17] linthan commented on #640
@kolesnikovae  it's  it's glad to hear this.  appreciate your efforts.

[2021-12-22 20:45] eh-am opened #643 "Grafana Panel: Handle Errors better"
Currently we do any checks on the flamegraph structure
https://github.com/pyroscope-io/pyroscope/blob/main/grafana-plugin/panel/src/SimplePanel.tsx#L14-L16

So depending on the response it may break the flamegraph, which requires a page refresh to get it back working.

[2021-12-22 21:35] eh-am opened #644 "Replace prelude-ts for ts-belt"
When refactoring the flamegraph we added [prelude-ts](https://github.com/emmanueltouzery/prelude-ts) for Optionals usage. Turns out it doesn't tree shake very well, making our bundle bigger than necessary

[ts-belt](https://mobily.github.io/ts-belt/api/option) on the other hand is tree shakeable and supports the 2 data structures we are interested in, `Option`and `Result`

Also may be a good idea

[2021-12-23 12:05] linthan opened #647 "feat: grafana plugins pyroscope-datasource cannot use grafana templating variables."
we need to use grafana to display pyroscope data。 accodring to  different application, there are different profile data。
application need to be a variable so that  we can easily to display different application's profile data.

![image](https://user-images.githubusercontent.com/13914829/147238023-c084a1d0-6471-4d22-acc1-886076ba426b.png)

[2021-12-23 12:29] eh-am commented on #647
Hey, good news! We are working on this right now:
https://github.com/pyroscope-io/grafana-datasource-plugin/pull/2

Should be available soon!

[2021-12-23 12:33] eh-am opened #648 "Grafana Panel: fix PNG export"
https://user-images.githubusercontent.com/6951209/147241065-f5ef20c3-f414-4357-833c-72247e0ebed6.mp4

If not possible, I think just not allowing to exporting anything in grafana should be an ok solution.

[2021-12-23 14:30] Rperry2174 commented on #648
So we have access to the Pyroscope url from this panel?

For example if someone is connecting to their Pyroscope instance at localhost:4040?

If so then another solution could be a link that says "go to Pyroscope dashboard" which would then open localhost:4040 so they can get the functionality that isn't available in the dashboard.

[2021-12-23 14:53] eh-am commented on #648
I need to investigate more, so far I would say no, since datasource and panel are different plugins. But there may be a way.

Not necessarily we will have access to that, for example if datasource access is configured via the server (see pic attached), we can't assume the Pyroscope UI will be available, since it could be a "headless" setup where for example there's a proxy that only authorizes req

[2021-12-23 15:15] eh-am commented on #644
Their use of Opaque Types makes certain things a bit more difficult than we expect: https://github.com/mobily/ts-belt/issues/11

[2021-12-23 15:52] abeaumont commented on #638
The Diff View also seems broken, in a similar way.

[2021-12-23 21:00] petethepig opened #655 "Add authentication methods for API access"
Now that we have OAuth support for viewing the data we need to add authentication support for API clients, particularly:
* client integrations
* grafana datasource

Currently, when set up with OAuth client integrations bypass authentication altogether (`/ingest` doesn't do authentication), and grafana panel can't access data at all. We need some way of setting some API keys for both.

[2021-12-24 04:58] tuananh2508 commented on #626
TBH i didn't think It would be this complicated xD.

1.
+ So first, I do think tag should be use with the latter approace which is tag is going to be consider as a FULL `key:value` pair. I think It would be more specific and avoid the case where people got mistake.
+ In our case, we use Pyroscope on our Kubernetes On-Premises Cluster and add Pyroscope agent to our code (mostly python right now). T

[2021-12-24 06:43] Rperry2174 opened #656 "Add query validation on frontend"
When a user deletes all the text from the query bar and executes the query the page breaks.

A common situation where this happens is someone is playing with some tags and then they want to delete them all so they just click the query bar and remove everything and hit "enter".

We should make it so that at the very least the query bar will _always_ have an executable query (i.e. erasing everything

[2021-12-24 21:23] lizthegrey opened #657 "Diff view is not colorblind friendly"
Use of red and green is considered problematic -- https://webaim.org/articles/visual/colorblind

[2021-12-24 21:25] lizthegrey commented on #454
+1, definitely would be handy to be able to jump from flame graph to function, or even better, to overlay timings and colors from flame graph on top of individual lines of code as `go tool pprof -http localhost:8080` does in source mode.

[2021-12-24 21:34] lizthegrey commented on #657
Relates to #24

[2021-12-24 21:37] lizthegrey opened #658 "Can't compare two tags, only by time"
I'd like to compare by two tags rather than before/after, in order to perform A/B tests across the same time period/workload.

[2021-12-25 16:38] petethepig commented on #657
Great point, thanks for bringing this up! That's another good reason to prioritize #24

Another thing I'm thinking is when we work on this we might want to look closer at existing colors we use to distinguish between packages and see if we can tweak them to be more universally distinguishable.

[2021-12-25 16:41] petethepig commented on #24
As discussed in #657 we should also consider how friendly this is for colorblind users.

rough todo on that front:

* [ ] review existing colors
* [ ] for the diff, look into tweaking the existing red / green colors to be more distinguishable
* [ ] for the diff, add other options outside of just red / green

some materials I found so far:
* https://www.tableau.com/about/blog/examining-data-viz-rul

[2021-12-25 16:44] petethepig opened #659 "Persist flamegraph / table selection between reloads"
@lizthegrey was asking for a feature where the table / flamegraph selection would be persisted between page reloads.

@eh-am We already have something for storing some things from state in localstorage, right?

I'm thinking we could do the same with head first / tail first option.

[2021-12-25 16:46] petethepig commented on #659
Oh, looks like it's a dupe of #591 , my bad

[2021-12-25 16:46] #659 closed

[2021-12-25 19:44] lizthegrey opened #660 "Add mutex profiling support"
https://github.com/pyroscope-io/pyroscope/blob/9e6022b95e935e81ba6a3e6c028495d271a510bf/pkg/scrape/config/config.go#L40

needs an entry for mutex profiling.

[2021-12-25 21:22] kolesnikovae commented on #660
Default configuration only includes Go `cpu` and `mem` profiles but eventually we will extend the list. Although this part is not yet fully supported (and documented), it is possible to scrape arbitrary profiles – including `mutex`, `goroutines`, and `block`:

[code]

We will add support for all of them soon!

[2021-12-26 13:23] Rperry2174 commented on #657
Another example for color palettes https://venngage.com/blog/color-blind-friendly-palette/#4

[2021-12-27 01:44] linthan commented on #647
@eh-am  could you tell me when this feature comes up? currently，it seems that it doesn't work correctly with  the  v0.5.1 of
pyroscope.

[2021-12-27 01:51] linthan commented on #647
pyroscope panel plugin
1.0.1 cannot display unit correctly
![image](https://user-images.githubusercontent.com/13914829/147426233-7be068a5-6444-4904-bda4-a22c11a52320.png)
![image](https://user-images.githubusercontent.com/13914829/147426316-76ccc912-1b02-475b-8fd1-dbbe04361c77.png)

1.1.0
cannot display.

pyroscope is the v0.5.1

[2021-12-27 02:54] linthan commented on #647
![image](https://user-images.githubusercontent.com/13914829/147429657-870e123a-c8b0-4ef9-ae90-baae0f77c08a.png)
you need to add metadata's attributes  to the flamebearer object.

[2021-12-27 17:22] Rperry2174 commented on #100
closing in favor of #652 #601

[2021-12-27 17:22] #100 closed

[2021-12-27 18:00] Rperry2174 commented on #658
For comparison view and diff view where we have two flamegraphs as input, we currently have a concept of `leftFrom` /`leftUntil` and `rightFrom`/`rightUntil` which each provide parameter inputs to the respective left and right flamegraphs' timelines.

We also currently support _one_ tag selector bar which influences _both_ timelines at the same time. However these exist as two separate components

[2021-12-27 18:33] #91 closed

[2021-12-27 18:49] Rperry2174 commented on #657
For this I think the first step is to slightly refactor the code to take arbitrary colors as inputs. For the v1 of this, and for simplicity, we should just focus on the diff view and then potentially expand out in into the other views later.

Right now the red and green colors are hardcoded [here](https://github.com/pyroscope-io/pyroscope/blob/main/webapp/javascript/components/FlameGraph/FlameGrap

[2021-12-30 02:03] linthan opened #664 "feat: grafana panel plugin supports two theme mod"
the  pyroscope panel plugin  just looks good in grafana dark mod. it looks weird  in light mod.

[2021-12-30 02:05] linthan commented on #664
the reason is the background and the button color is black.  grafana inherit  it.
![image](https://user-images.githubusercontent.com/13914829/147715868-66fe5cc0-2d59-43d6-9127-e4d1428c68e3.png)

[2022-01-02 07:17] #447 closed

[2022-01-02 16:10] mobily commented on #644
hello @eh-am 👋 ts-belt author here, I'm looking into it! in the meantime, could you provide more details on why opaque type (Option) causes a problem in your implementation?

[2022-01-02 23:16] mobily commented on #644
@eh-am the `Option` type in `ts-belt@3.8.0` is now `type Option<T> = T | undefined | null`, I hope this will help finishing your implementation using `ts-belt`! 🚀

[2022-01-03 02:30] #618 closed

[2022-01-03 11:05] abeaumont opened #666 "chore: Lint TypeScript / JavaScript code"
(I'm following the same approach successfully used for Go linting in https://github.com/pyroscope-io/pyroscope/issues/49,  copy and pasting unashamedly :smile: )

### Community Call To Action

Feel free to open PRs, even if it's one or two small fixes. This kind of work is important but often overlooked. This is a great way to learn more about the internals of the project and we'd appreciate any h

[2022-01-03 11:06] abeaumont commented on #666
cc: @eh-am in case you have any insight to add about how to solve the issues (feel free to edit the description).

[2022-01-03 11:07] abeaumont commented on #49
We don't have any problems anymore, so missing accomplished :clap: :clap:

[2022-01-03 11:07] #49 closed

[2022-01-03 13:32] eh-am commented on #664
That's a great point, there's nothing **requiring** the background to be dark, so it should work!

The only thing is that we are importing the whole `styles.scss`, which as you pointed, comes with the body styling stuff. IIRC we do that due to other required styling.

I'm thinking here to simply break down the styles into:
* a `shared.scss` file (which hopefully goes away in the future, once we mo

[2022-01-03 13:45] eh-am commented on #658
@Rperry2174 I would challenge that with the use case of comparing 2 different apps in different times that are not in the same interval. For example, `pyroscope.server.cpu{region="west"}` at `2022-01-03T13:34:20+0000` and `pyroscope.server.cpu{region="east"}` at `2021-01-03T13:34:20+0000` (see the year).

While tecnically you can select a time interval of a whole year, it's
a) slower than needed
b

[2022-01-03 14:59] dannykopping opened #667 "Tag selection doesn't use `base-url` value"
I'm running v0.5.1, and the `base-url` changes seem to be largely working (thanks!).
The only problem I've run into so far is that selecting tags yields a `404` since it is not using the base URL.

I believe the bug is here:
https://github.com/pyroscope-io/pyroscope/blob/main/webapp/javascript/redux/actions.js#L444-L462

![tags](https://user-images.githubusercontent.com/373762/147945719-3359fe9f-f